/dist
/target
/src/main/webapp/resources/bower_components
*/bower_components
*/node_modules
node_modules/*
.gitignore
*.properties
*.sh*
test.sql
*.jar

*.sass-cache
*.tmp

*.DS_Store
*.swp
*.jar
*.swo

*~
*.log
