$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/********************************************
  Table of Contents

  01. Variables
  02. General_Styling
  03. Print_Styling
  04. Schedule_Edit
  05. Schedule_View
  06. Schedule_Header
  07. Site_Header_and_Navbar
  08. Employee_List
  09. Default_settings_Yeoman_put_in

*********************************************/


/********************************************
    01. Variables
*********************************************/
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

/********************************************
    02. General_Styling
*********************************************/
a:focus {
  outline: 0;
}
.selectable-elem {
  cursor: pointer;
}
.centered-elem {
  text-align: center;
}

/********************************************
    03. Print_Styling
*********************************************/
.print-message {
  margin: 30px;
}
.print-header {
  border-top: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.print-table {
  border-top: none !important;
  height: 10px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.print-row {
  border-top: none !important;
  height: 10px !important;
  font-size: 0.8em;
  padding: 0 !important;
  margin: 0 !important;
}

/********************************************
    04. Schedule_Edit
*********************************************/
.position-button-bar {
  margin: 0 auto;
}
.position-button {
  margin: 0.6em;
  min-width: 5em;
  border: none;
}
.position-button-active {
  background-color: yellow;
}

/********************************************
    05. Schedule_View
*********************************************/
/* schedule edit/view options */
.schedule-view-options .btn{
  margin: 0 0.5em;
  width: 160px;
}

.schedule-view-row {
  height: 35px;
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
}
.highlighted {
  outline: 1px solid yellow;
  background-color: #ffffb3;
}

.schedule-message {
  padding: 30px 0 100px 0;
  color: #333333;
  font-size: 1.2em;
}

.schedule-message-panel {
  width:80%; 
  margin:0 auto; 
  background-color:#e6e6e6;
}
/* Availability */
.avail-edit-select {
  width: 90px;
  margin: 5px;
}

/* Schedule Edit*/
.schedule-edit-highlight {
  background-color: #66ffd7;
}

.schedule-edit-input {
  padding: 2px;
  color: transparent;
  cursor: default;
  text-shadow: 1px 0px 0px #000;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  outline: none;
  border: 1px solid #DDD;
}
.schedule-edit-input:focus {
  box-shadow: 0 0 5px #4d79ff;
  border: 1px solid #4d79ff;
}
.schedule-edit-input::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
.schedule-edit-input-highlight:focus {
  box-shadow: 0 0 5px #00CCFF;
  border: 1px solid #00CCFF;
}
.schedule-edit-input-highlight::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
/* error on edit schedule input box */
.schedule-edit-input-error{
  text-shadow: 1px 0px 0px #CC0000;
}
.schedule-edit-input-error:focus {
  box-shadow: 0 0 5px rgba(204, 0, 0, 1);
  border: 1px solid rgba(204, 0, 0, 0.7);
  background-color: #FFCCCC;
}
.schedule-edit-task-names{
  font-size: 1em;
  margin:0 auto;
}
.schedule-edit-task-selected{
  background-color: #66ffd7;
  border-radius: 0.3em;
  padding-left: 3px;
  padding-right: 3px;
}
.schedule-edit{
  font-size: 1em;
  /*border: 1px solid #336699;*/
  width: 9%;
  padding: 0;
  border-radius: 5px;
}
.schedule-edit-input-error::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
/* warning on edit schedule input box */
.schedule-edit-input-warn{
  text-shadow: 1px 0px 0px #CF8600;
}
.schedule-edit-input-warn:focus {
  box-shadow: 0 0 5px rgba(255, 204, 0, 1);
  border: 1px solid rgba(255, 204, 0, 0.7);
  background-color: #FFFFCC;
}
.schedule-edit-input-warn::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
.schedule-view-panel {
  min-height: 60%;
}
.schedule-edit-panel {
  /*background-color: #edf6f7;*/
  min-height: 70%;
  width: 87%;
}
.schedule-edit-panel-header div{
  min-width: 9%;
}
.schedule-edit-header-spacing {
  height: 15px;
}
.employee-schedule-edit-panel {
  border: none;
  padding: 0;
  margin-top: 75px;
  position:fixed;
  right: 0;
  max-height: 70%;
  overflow-y: scroll;
  width: 13%;
}
.employee-schedule-edit-search {
  border: none;
  margin-top: 40px;
  position: fixed;
  right: 0;
  width: 13%;
}
/* shift edit */
.schedule-edit-shift-panel {
  width: 87%;
}
.schedule-edit-shift-select {
  width: auto;
  margin: 5px;
}
.schedule-edit-shift-txt-addshift {
  padding-right: 0.1em;
}
.schedule-edit-shift-btn-newshift {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.schedule-edit-shift-droprow {
  margin-top: 10px;
}

/********************************************
    06. Schedule_Header
*********************************************/
.weekday-title div{
  font-size: 1.1em;
  color: #336699;
  padding: 0;
}

.schedule-times {
  color: #336699;
  padding-left: 0;
  padding-right: 1%;
  text-align: right;
}
.week-nav-button {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: grey;
  border: none;
}
.week-nav-button:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  background-color: transparent;
  color: grey;
  border: none;
}
.week-nav-button:hover {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  background-color: transparent;
  color: blue;
  border: none;
}
.week-nav-button:active {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  background-color: transparent;
  color: blue;
  border: none;
}

/********************************************
    07. Site_Header_and_Navbar
*********************************************/
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px 0 10px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}
.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}
.divider-horizontal {
 padding: 15px 0;
}
.request-title {
  font-size: 1.2em;
  color: #336699;
}

/********************************************
    08. Employee_List
*********************************************/
.clock-input {
  width: 45px;
  margin-left: 10px;
}
.emp-header {
  padding: 0;
  margin: 0;
}
.emp-text-row {
  margin-bottom: 10px;
}
.emp-repeated-row {
  line-height: 1;
  margin-bottom: 7px;
}
.emp-history {
  display: inline;
}
.emp-history-dash {
  margin: 0px 30px 0px 30px;
}
.emp-history-row {
  margin-top: 15px;
}
.emp-history-row:first-of-type {
  margin-top: 0px;
}
.emp-list-wrapper {
  max-height: 500px;
  overflow-y: scroll;
}

/********************************************
    09. Default_Settings_Yeoman_put_in
*********************************************/
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

