<!--div class=" btn-group-vertical" role="group"> 
  <ul>
    <div ng-repeat = "employee in employees">

      <? div ng-if"employee.roles. ?>
      <li ng-click="selectName(employee.name)" class="btn btn-default schedule-edit-employee-list">{{employee.firstname}}</li>

    </div>
  </ul>
</div-->

<div class="panel panel-primary">
  <div class="panel-heading">
      Employees
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <div class="btn btn-default input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </div>
        <input type="text" class="form-control" id="em-search" placeholder="Search...">
      </div>
    </div>
    <div class="list-group">
      <div ng-repeat="e in employees">
        <a href="#" class="list-group-item">
          {{e.lastName}}, {{e.firstName}}
        </a>
      </div>
    </div>
  </div>
</div>
