<!-- Employee Info -->
<div class="request-title">
  <form ng-submit="updateEmployee()">
    <div class="row emp-text-row">
      <div class="col-sm-1 col-sm-offset-1">
        <span> Name: </span>
      </div>
      <div class="col-sm-2">
        <input class="form-control" ng-model="employees[current].firstName" placeholder="First"/>
      </div>
      <div class="col-sm-2">
        <input class="form-control" ng-model="employees[current].lastName" placeholder="Last"/>
      </div>
      <div class="col-sm-3">
        <span class="pull-left">Clock Number:</span>
        <input class="form-control clock-input pull-left clear-both" type="text" ng-model="employees[current].clockNumber" placeholder="#">
      </div>
    </div>

    <div class="row emp-text-row">
      <div class="col-sm-1 col-sm-offset-1">
        <span>Birthday:</span>
      </div>
      <div class="col-sm-2">
        <!-- will be a datepicker -->
        <input class="form-control" ng-model="employees[current].birthDate" placeholder="MM/DD/YYYY"/>
      </div>
      <div class="col-sm-2 col-sm-offset-2">
        <span>Manager</span>
        <input type="checkbox" g-model="employees[current].isManager">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-sm-offset-1">
        <span>Phone:</span>
      </div>
      <div class="col-sm-3">
        <!-- will be a datepicker -->
        <input class="form-control" ng-model="employees[current].phoneNumber" placeholder="xxx-xxx-xxxx"/>
      </div>
    </div>
  </form>
</div>
