<div class="row">
    <div class="col-sm-3">
        <p class="lead">
            Edit Employee Availibility
        </p>
    </div>
</div>

<div class="request-title">
    <div class="row">
        <div class="col-sm-2">
            <p> Monday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Tuesday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Wednesday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Thursday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Friday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Saturday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p> Sunday: </p>
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="newDelivery" placeholder="Start"/> - 
            <input type="text" ng-model="newDelivery" placeholder="End"/>
        </div>
    </div>


</div>

