<!--div class=" btn-group-vertical" role="group"> 
  <ul>
    <div ng-repeat = "employee in employees">

      <? div ng-if"employee.roles. ?>
      <li ng-click="selectName(employee.name)" class="btn btn-default schedule-edit-employee-list">{{employee.firstname}}</li>

    </div>
  </ul>
</div-->

<div class="panel panel-default">
  <div class="panel-heading">
      <p class="lead emp-header">Employees</p>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <div class="btn btn-default input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </div>
        <input type="text" class="form-control" id="em-search" ng-model="empSearch" placeholder="Search...">
      </div>
    </div>
    <div class="list-group">
      <div ng-repeat="e in employees | filter : empSearch">
        <button ng-click="selectEmployee($index)" class="list-group-item btn btn-default btn-block" ng-class="{'btn-active': current==$index}">
          <div class="pull-left">
            {{e.lastName}}, {{e.firstName}}
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
