<div class="row">
    <div class="col-sm-2">
        <p class="lead"> Edit Shift Template </p>
    </div>
</div>
<div class="row request-title">
    <div class="col-sm-2">
        <p>Title</p>
    </div>
    <div class="col-sm-2">
        <p>Primary Role</p>
    </div>
    <div class="col-sm-2">
        <p>Weekday Start</p>
    </div>
    <div class="col-sm-2">
        <p>Weekday End</p>
    </div>
    <div class="col-sm-2">
        <p>Weekend Start</p>
    </div>
    <div class="col-sm-2">
        <p>Weekend End</p>
    </div>
</div>
<div class="row">
    <form ng-submit="changeShift()">
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-click="alteredTitle" placeholder="title...">
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button id="primary-role-dropdown" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Role
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="primary-role-dropdown">
                    <li ng-repeat="position in positions">{{position.title}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control" ng-click="weekdayStart" placeholder="0:00">
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <input type="text" class="form-control" ng-click="weekdayEnd" placeholder="0:00">
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <input type="text" class="form-control" ng-click="weekendStart" placeholder="0:00">
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <input type="text" class="form-control" ng-click="weekendEnd" placeholder="0:00">
        </div>
    </form>
</div>
<hr class="divider-horizontal"/>
<div class="row request-title">
    <div class="col-sm-2">
        <p>Title</p>
    </div>
    <div class="col-sm-2">
        <p>Primary Role</p>
    </div>
    <div class="col-sm-2">
        <p>Weekday Hours</p>
    </div>
    <div class="col-sm-2">
        <p>Weekend Hours</p>
    </div>
</div>
<div class="row">
</div>
