<schedule-header></schedule-header>

<div class="hidden-xs">

    <!-- shifts -->
    <div ng-repeat="t in template">
      <!--<div class="row" ng-show="filterByType(shift.type, shift.scheduled, user.firstname)"> -->
      <div class="row">
        <hr/>

            <!-- shift title -->
            <div class="col-sm-2 col-sm-offset-0" > 
                {{t.tname}} 
            </div>

            <!-- weekday times -->
            <div class="col-sm-1 col-sm-offset-0 schedule-times" > 
              <!--<div ng-show="t.wd_st != 0">-->
                {{t.wd_st | limitTo: 5}}-{{t.wd_ed | limitTo: 5}}
                <!--</div>-->
            </div>

            <!-- Monday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.mon}} </div>

            <!-- Tuesday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.tue}} </div>

            <!-- Wednesday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.wed}} </div>

            <!-- Thursday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.thu}} </div>

            <!-- Friday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.fri}} </div>

            <!-- weekend times -->
            <div class="col-sm-1 col-sm-offset-0 schedule-times" > 
              <!--<div ng-show="t.we_st != 0">-->
                {{t.we_st}}-{{t.we_ed}}
              <!--</div>-->
            </div>

            <!-- Saturday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.sat}} </div>

            <!-- Sunday -->
            <div class="col-sm-1 col-sm-offset-0 "> {{t.sun}} </div>


        </div>
    </div>


</div>



