
<div class="hidden-xs">
<schedule-header></schedule-header>

  <!-- shifts -->
  <div ng-repeat="t in template">
    <div class="row">
      <!-- ng-show="filterByType(t.location, t.position, user.firstname, t.mon, t.tue, t.wed, t.thu, t.fri, t.sat, t.sun)" -->

      <div class="col-sm-2" > 
        {{t.tname}} 
      </div>

  <!-- weekday times -->
      <div class="col-sm-1 schedule-times" > 
        {{formatTime(t.wd_st_h, t.wd_st_m)}} - {{formatTime(t.wd_ed_h, t.wd_ed_m)}}
      </div>

      <!-- Monday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.mon)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.mon, 'monday', t.id)" 
        ng-model="t.mon">
      </div>

      <!-- Tuesday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.tue)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.tue, 'tuesday', t.id)" 
        ng-model="t.tue">
      </div>

      <!-- Wednesday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.wed)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.wed, 'wednesday', t.id)" 
        ng-model="t.wed">
      </div>

      <!-- Thursday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.thu)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.thu, 'thursday', t.id)" 
        ng-model="t.thu">
      </div>

      <!-- Friday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.fri)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.fri, 'friday', t.id)" 
        ng-model="t.fri">
      </div>

  <!-- weekend times -->
      <div class="col-sm-1 col-sm-offset-0 schedule-times" > 
        {{formatTime(t.we_st_h, t.we_st_m)}} - {{formatTime(t.we_ed_h, t.we_ed_m)}}
      </div>

      <!-- Saturday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.sat)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.sat, 'saturday', t.id)" 
        ng-model="t.sat">
      </div>

      <!-- Sunday -->
      <div class="col-sm-1 col-sm-offset-0  schedule-edit"> 
        <input select-on-click ng-click="selectName(t.sun)" 
        ng-disabled=false type="text" 
        ng-class="inputStatus(t.sun, 'sunday', t.id)" 
        ng-model="t.sun">
      </div>

    </div>
  </div>


  <!--
  <employee-list></employee-list>
  -->


</div>
