
<div class="form-group">
  <div class="input-group">
    <div class="btn btn-default input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input type="text" class="form-control" id="em-search" ng-model="empSearch" placeholder="Search...">
  </div>
</div>

  <div ng-repeat="e in employees | filter: empSearch" class="row">
    <div ng-click="selectEmployee($index)" class="col-sm-12" >
      {{e.name}}, <span class="position-name">{{e.title}}</span>
    </div>
  </div>
