<div class="hidden-xs">

    <!-- date labels -->
    <div class="row">
        <div class="col-sm-1 col-sm-offset-3 day-title"> {{date.monday.disp}} </div>
        <div class="col-sm-1 day-title">                 {{date.tuesday.disp}} </div>
        <div class="col-sm-1 day-title-wed">             {{date.wednesday.disp}} </div>
        <div class="col-sm-1 day-title">                 {{date.thursday.disp}} </div>
        <div class="col-sm-1 day-title">                 {{date.friday.disp}} </div>
        <div class="col-sm-1 col-sm-offset-1 day-title"> {{date.saturday.disp}} </div>
        <div class="col-sm-1 day-title">                 {{date.sunday.disp}} </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-sm-offset-3 day-title"> {{'SCHEDULE_VIEW_MONDAY' | translate}} </div>
        <div class="col-sm-1 day-title">                 {{'SCHEDULE_VIEW_TUESDAY' | translate}} </div>
        <div class="col-sm-1 day-title-wed">             {{'SCHEDULE_VIEW_WEDNESDAY' | translate}} </div>
        <div class="col-sm-1 day-title">                 {{'SCHEDULE_VIEW_THURSDAY' | translate}} </div>
        <div class="col-sm-1 day-title">                 {{'SCHEDULE_VIEW_FRIDAY' | translate}} </div>
        <div class="col-sm-1 col-sm-offset-1 day-title"> {{'SCHEDULE_VIEW_SATURDAY' | translate}} </div>
        <div class="col-sm-1 day-title">                 {{'SCHEDULE_VIEW_SUNDAY' | translate}} </div>
    </div>

    <!-- deliveries TODO since this is out of order now, I need to 
        specify which weekdays show-->
    <div ng-show="showDeliveries" ng-repeat="delivery in deliveries">
        <div class="row">
            <div ng-repeat="day in delivery.days">
                <!-- gap on the left -->
                <div class="col-sm-3" ng-show="$index==0""col-sm-2"> </div>

                <!-- gap between weekdays and weekend days -->
                <div ng-show="$index==5"> <div class="col-sm-1"> </div> </div>

                <!-- delivery this day -->
                <div ng-show="day">
                    <div class="col-sm-1 delivery-title">
                        {{delivery.title}}
                    </div>
                </div>

                <!-- no delivery this day -->
                <div ng-hide="day">
                    <div class="col-sm-1 delivery-title">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- shifts -->
    <div ng-repeat="s in sch.scheduled">
      <!--<div class="row" ng-show="filterByType(shift.type, shift.scheduled, user.firstname)"> -->
      <div class="row">
        <hr/>

            <!-- shift title -->
            <div class="col-sm-2 col-sm-offset-0" > 
                {{s.tname}} 
            </div>

        <!-- weekday times -->
            <div class="col-sm-1 col-sm-offset-0 schedule-times" > 
                {{s.wd_st | limitTo: 5}}-{{s.wd_ed | limitTo: 5}}
            </div>

            <!-- Monday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
              {{s.monday.ename}}
            </div>

            <!-- Tuesday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[1].scheduled[$index].name}}
            </div>

            <!-- Wednesday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[2].scheduled[$index].name}}
            </div>

            <!-- Thursday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[3].scheduled[$index].name}}
            </div>

            <!-- Friday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[4].scheduled[$index].name}}
            </div>

        <!-- weekend times -->
            <div class="col-sm-1 col-sm-offset-0 schedule-times" > 
                {{shift.weekendStart | limitTo: 5}}-{{shift.weekendEnd | limitTo: 5}}
            </div>

            <!-- Saturday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[5].scheduled[$index].name}}
            </div>

            <!-- Sunday -->
            <div class="col-sm-1 col-sm-offset-0 " > 
                {{currentSchedule[6].scheduled[$index].name}}
            </div>


        </div>
    </div>


</div>



