<!-- Employee Info -->
<div class="request-title">
  <form ng-submit="updateEmployee()">
    <div class="row emp-text-row">
      <div class="col-sm-1 col-sm-offset-1">
        <span> Name: </span>
      </div>
      <div class="col-sm-2">
        <input class="form-control" ng-model="selectedEmployee.firstName" placeholder="First"/>
      </div>
      <div class="col-sm-2">
        <input class="form-control" ng-model="selectedEmployee.lastName" placeholder="Last"/>
      </div>
      <div class="col-sm-2">
        <span class="pull-left">Clock Number:</span>
        <input class="form-control clock-input pull-left clear-both" type="text" ng-model="selectedEmployee.clock" placeholder="#">
      </div>
      <div class="col-sm-1">
        <!-- visual indication that changes are all saved -->
        <!--button class = "btn btn-success schedule-view-button"
          ng-show = ""
          ng-click = "">
          Save
          <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
        </button-->
        <!-- Default button -->
        <button class = "btn btn-default schedule-view-button">
          Save
          <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="row emp-text-row">
      <div class="col-sm-2">
          <h4>Birthday
            <md-datepicker ng-model="birthDate" 
              md-placeholder="Starting Date">
            </md-datepicker>
          </h4>
          <p>Value Test selectedEmployee[birthday]: {{selectedEmployee[birthday]}} </p>
          <p>Value Test birthDate: {{birthDate}} </p>
      </div>
      <div class="col-sm-2 col-sm-offset-2">
        <span>Manager</span>
        <input ng-disabled="loggedInUser.id == selectedEmployee.id" type="checkbox" ng-model="selectedEmployee.isManager" ng-true-value="1" ng-false-value="0">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-sm-offset-1">
        <span>Phone:</span>
      </div>
      <div class="col-sm-3">
        <!-- will be a datepicker -->
        <input class="form-control" ng-model="selectedEmployee.phone" placeholder="xxx-xxx-xxxx"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-sm-offset-1">
        <span>Email:</span>
      </div>
      <div class="col-sm-3">
        <!-- will be a datepicker -->
        <input class="form-control" ng-model="selectedEmployee.email"/>
      </div>
    </div>
  </form>
</div>
