<div class="request-title">
  <div class="row">
    <div class="col-sm-4">
    <label for="position-select">Add Permission</label>
    <select id="position-select"
      class="form-control"
      ng-options="p.disp for p in permissions"
      ng-model="$parent.newPermission"
      ng-change="$parent.addPermission()">
        <option value=""> Select </option>
      </select>
    </div>
  </div>
  <hr/>
  <div class="row" ng-repeat="p in selectedEmployee.permissions track by $index">
    <div class="col-sm-3 col-sm-offset-1">
      <p>{{p}}</p>
    </div>
    <div class="col-sm-1">
      <!-- remove position -->
      <button type="button" class="btn btn-danger" ng-click="removePermission(p)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
