<div class="request-title">

  <!-- Add New Availability for Current Employee -->
  <div class="row">
    <label class="col-sm-1 col-sm-offset-1 control-label">Add</label>
    <div class="col-sm-6">
      <!-- TODO set selected values so the fields aren't just blank fields -->
      <select type="text" class="" ng-model="newAvail.day" placeholder="Day">
        <option value="">- Day -</option>
        <option value="mon">Monday</option>
        <option value="tue">Tuesday</option>
        <option value="wed">Wednesday</option>
        <option value="thu">Thursday</option>
        <option value="fri">Friday</option>
        <option value="sat">Saturday</option>
        <option value="sun">Sunday</option>
      </select>
      <select class="avail-edit-select" ng-model="newAvail.start" placeholder="Start"
        ng-options="option.disp for option in times.start">
        <option value="">- Start -</option>
      </select>
        -
      <select class="avail-edit-select" ng-model="newAvail.end" placeholder="End"
        ng-options="option.disp for option in times.end">
        <option value="">- End -</option>
      </select>
    </div>
    <div class="col-sm-1 pull-left">
      <button type="button" class="btn btn-success" ng-click="addAvailability()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <hr/>

    <!-- Monday Availabiliy -->
    <div ng-repeat="mon in selectedEmployee.avail.mon" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('mon')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Monday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(mon.startHr, mon.startMin, mon.endHr, mon.endMin)">
        <div class="col-sm-3">
          <span> {{formatTime(mon.start, true)}} - {{formatTime(mon.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('mon', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Tuesday Availabiliy -->
    <div ng-repeat="tue in selectedEmployee.avail.tue" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('tue')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Tuesday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(tue.startHr, tue.startMin, tue.endHr, tue.endMin)">
        <div class="col-sm-3">
          <span> {{formatTime(tue.start, true)}} - {{formatTime(tue.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('tue', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Wednesday Availabiliy -->
    <div ng-repeat="wed in selectedEmployee.avail.wed" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('wed')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Wednesday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(wed.start.val, wed.end.val)">
        <div class="col-sm-3">
          <span> {{formatTime(wed.start, true)}} - {{formatTime(wed.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('wed', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Thursday Availabiliy -->
    <div ng-repeat="thu in selectedEmployee.avail.thu" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('thu')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Thursday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(thu.start.val, thu.end.val)">
        <div class="col-sm-3">
          <span> {{formatTime(thu.start, true)}} - {{formatTime(thu.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('thu', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Friday Availabiliy -->
    <div ng-repeat="fri in selectedEmployee.avail.fri" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('fri')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Friday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(fri.start.val, fri.end.val)">
        <div class="col-sm-3">
          <span> {{formatTime(fri.start, true)}} - {{formatTime(fri.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('fri', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Saturday Availabiliy -->
    <div ng-repeat="sat in selectedEmployee.avail.sat" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('sat')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Saturday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(sat.start.val, sat.end.val)">
        <div class="col-sm-3">
          <span> {{formatTime(sat.start, true)}} - {{formatTime(sat.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('sat', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>


    <!-- Sunday Availabiliy -->
    <div ng-repeat="sun in selectedEmployee.avail.sun" class="row emp-repeated-row ng-cloak">
      <div ng-click="setNewAvailDay('sun')">
        <div class="col-sm-2 col-sm-offset-1">
          <p ng-show="$index==0"> Sunday: </p>
        </div>
      </div>
      <div ng-click="setNewAvailTimes(sun.start.val, sun.end.val)">
        <div class="col-sm-3">
          <span> {{formatTime(sun.start, true)}} - {{formatTime(sun.end, true)}} </span>
        </div>
      </div>
      <div class="col-sm-1">
        <!-- remove availability -->
        <button type="button" class="btn btn-danger" ng-click="removeAvailability('sun', $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>

</div>

