<div class="request-title">

  <!-- Add New Availability for Current Employee -->
  <div class="row">
    <div class="col-sm-2">
      <!-- TODO set selected values so the fields aren't just blank fields -->
      <label for="avail-day"> Day </label>
      <select id="avail-day" type="text" class="form-control" ng-model="newAvail.day" placeholder="Day">
        <option value="">Day</option>
        <option value="mon">Monday</option>
        <option value="tue">Tuesday</option>
        <option value="wed">Wednesday</option>
        <option value="thu">Thursday</option>
        <option value="fri">Friday</option>
        <option value="sat">Saturday</option>
        <option value="sun">Sunday</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label for="avail-start"> Start </label>
      <select id="avail-start" class="form-control" ng-model="newAvail.start" placeholder="Start"
        ng-options="option.disp for option in times.start">
        <option value="">Start</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label for="avail-start"> End </label>
      <select id="avail-end" class="form-control" ng-model="newAvail.end" placeholder="End"
        ng-options="option.disp for option in times.end">
        <option value="">End</option>
      </select>
    </div>
    <div class="col-sm-1 pull-left">
      <label for="avail-add">Add</label>
      <button id="avail-add" type="button" class="btn btn-success" ng-click="addAvailability()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <hr/>

  <!-- Monday Availabiliy -->
  <div ng-repeat="mon in selectedEmployee.avail.mon" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Monday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(mon.start, true)}} - {{formatTime(mon.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('mon', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Tuesday Availabiliy -->
  <div ng-repeat="tue in selectedEmployee.avail.tue" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Tuesday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(tue.start, true)}} - {{formatTime(tue.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('tue', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Wednesday Availabiliy -->
  <div ng-repeat="wed in selectedEmployee.avail.wed" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Wednesday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(wed.start, true)}} - {{formatTime(wed.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('wed', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Thursday Availabiliy -->
  <div ng-repeat="thu in selectedEmployee.avail.thu" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Thursday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(thu.start, true)}} - {{formatTime(thu.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('thu', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Friday Availabiliy -->
  <div ng-repeat="fri in selectedEmployee.avail.fri" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Friday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(fri.start, true)}} - {{formatTime(fri.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('fri', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Saturday Availabiliy -->
  <div ng-repeat="sat in selectedEmployee.avail.sat" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Saturday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(sat.start, true)}} - {{formatTime(sat.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('sat', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>


  <!-- Sunday Availabiliy -->
  <div ng-repeat="sun in selectedEmployee.avail.sun" class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p ng-show="$index==0"> Sunday </p>
    </div>
    <div class="col-sm-3">
      <span> {{formatTime(sun.start, true)}} - {{formatTime(sun.end, true)}} </span>
    </div>
    <div class="col-sm-1">
      <!-- remove availability -->
      <button type="button" class="btn btn-danger" ng-click="removeAvailability('sun', $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>

</div>

