<!-- Employee Info -->
<div class="request-title">
  <form class="form-horizontal">
    <div class="form-group">

      <label for="firstName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input type="text" id="firstName" class="form-control"
        ng-model="selectedEmployee.firstName"
        placeholder="First" />
        <input type="text" id="lastName" class="form-control"
        ng-model="selectedEmployee.lastName"
        placeholder="Last" />
      </div>

      <label for="clock" class="col-sm-2 control-label">Number</label>
      <div class="col-sm-4">
        <input type="number" id="clock" class="form-control"
          ng-model="selectedEmployee.clock"
          placeholder="#" />
      </div>

      <label for="phone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-4">
        <input type="phone" id="phone" class="form-control"
        ng-model="selectedEmployee.phone"
        placeholder="#" />
      </div>

      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input type="email" id="email" class="form-control"
        ng-model="selectedEmployee.email"
        placeholder="email" />
      </div>

      <label for="birthday" class="col-sm-2 control-label">Birthday</label>
      <div class="col-sm-4">
        <input type="text" id="clock" class="form-control"
          ng-model="selectedEmployee.birthDate"
          placeholder="dd-mm-yyyy" />
        </div>

      <label for="max" class="col-sm-2 control-label">Hours</label>
      <div class="col-sm-2">
        <input type="number" id="min" class="form-control"
          ng-model="selectedEmployee.minHrsWeek"
          placeholder="Minimum" />
      </div>
      <div class="col-sm-2">
        <input type="number" id="clock" class="form-control"
          ng-model="selectedEmployee.maxHrsWeek"
          placeholder="Maximum" />
        </div>

      <label for="birthdateTemplate" class="col-sm-2 control-label"> Birthdate</label>
      <div class="col-sm-4">
          <md-datepicker ng-model="birthDate" 
            md-placeholder="Starting Date">
          </md-datepicker>
      </div>

      <label for="manager" class="col-sm-2 control-label"> Manager </label>
      <div class="col-sm-4">
      <input type="checkbox" id="manager"
          ng-model="selectedEmployee.isManager" ng-true-value="1" ng-false-value="0"
          ng-disabled="loggedInUser.id == selectedEmployee.id"/>
      </div>

    </div>
  </form>
</div>
