<div class="request-title">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <p> Add Position</p>
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <select ng-options="p.title for p in positions" ng-model="$parent.newPos"
        ng-change="$parent.addPosition()">
        <option value="">- Choose Position -</option>
      </select>
    </div>
  </div>

  <div class="row emp-repeated-row" ng-repeat="p in selectedEmployee.positions">
    <div class="col-sm-2 col-sm-offset-1">
      <span>{{getPositionTitle(p)}}</span>
    </div>
    <div class="col-sm-1">
      <!-- remove position -->
      <button type="button" class="btn btn-danger" ng-click="removePosition(p)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
