<div class="form-group">
  <div class="input-group">
    <div class="btn btn-default input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input type="text" class="form-control" id="em-search" ng-model="empSearch" placeholder="Search...">
  </div>
</div>

<div class="list-group emp-list-wrapper">
    <button ng-click="clearEmployee()"
      class="btn btn-success btn-block">
      <div class="pull-left">
        <i class="glyphicon glyphicon-plus"></i> Add New
      </div>
    </button>
  <div ng-repeat="e in employees | filter : empSearch">
    <button ng-click="selectEmployee(e.id)"
      class="list-group-item btn btn-default btn-block"
      ng-class="{'active': selectedEmployee.id===e.id}">
      <div class="pull-left">
        {{e.lastName}}, {{e.firstName}}
        {{selectedEmployee.id === e.id}}
      </div>
    </button>
  </div>
</div>
