
<!-- footer menu -->

<div class="footer">
  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-7">
      <p><span class="glyphicon glyphicon-heart"></span> sequoiagrove-v1.0.5-SNAPSHOT </p>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
      <div class="form-group">
      <!-- language support buttons -->
      <a class="form-control btn btn-link" ng-show="lang == 'es'"  ng-click="changeLanguage('en')">English</a>
      <a class="form-control btn btn-link" ng-show="lang == 'en'"  ng-click="changeLanguage('es')">Español</a>
      <a class="form-control btn btn-link" href="https://docs.google.com/forms/d/18jEZGvdgj0Niwd-Hiyq5RLvMebUOSdp3fE5njd3EV5M/" target= "blank">Contact us</a>
      <a class="form-control btn btn-link" href="https://github.com/bethgrace5/sequoia-grove" target= "blank">Source</a>
      <a class="form-control btn btn-link" href="http://www.gnu.org/licenses/agpl-3.0.en.html" target= "blank">License</a>
      </div>
      </form>
    </div>
  </div>
</div>

