
<!-- footer menu -->

<div class="footer">
  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-7">
      <p><span class="glyphicon glyphicon-heart"></span> v1.0.0.6-BETA-staging </p>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
      <div class="form-group">
      <!-- language support buttons -->
      <button class="form-control btn btn-default" ng-show="lang == 'es'"  ng-click="changeLanguage('en')">English</button>
      <button class="form-control btn btn-default" ng-show="lang == 'en'"  ng-click="changeLanguage('es')">Español</button>
      <!--<a class="form-control btn btn-link" href="#/contact">Contact us</a>-->
      <!--<a class="form-control btn btn-link" href="https://github.com/bethgrace5/sequoia-grove" target= "blank">Source</a>-->
      <!--<a class="form-control btn btn-link" href="http://www.gnu.org/licenses/agpl-3.0.en.html" target= "blank">License</a>-->
      </div>
      </form>
    </div>
  </div>
</div>

