
<!-- Header -->
<div class="header">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="active navbar-brand" ng-class="active" href="#/home">Sequoia Grove</a>
      </div>

      <span ng-show="loggedIn" class="pull-right" style="margin-top:5px;">
        <button type="button" ng-click="logout()" class="btn btn-clear">
          <img style="height:20px; with: 20px;" src="img/persona-logo-glyph.png"></img>
          Hello, {{loggedInUser.firstname}}! (Sign out)
        </button>
      </span>

      <span ng-hide="loggedIn" class="pull-right" style="margin-top:5px;">
        <button type="button" ng-click="login()" class="btn btn-clear">
          <img style="height:20px; with: 20px;" src="img/persona-logo-glyph.png"></img>
          Sign in / Sign up
        </button>
      </span>

      <!-- navigation menu -->
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>

            <!-- all user options -->
            <li role="presentation" ng-class="changeTab('/home')"><a href="#/home">{{'HEADER_TAB_HOME' | translate}}</a></li>
            <li role="presentation" ng-class="changeTab('/data')"><a href="#/request">{{ 'HEADER_TAB_REQUESTS' | translate}}</a></li>

            <!-- manager only options -->
            <li ng-show="loggedInUser.isManager" role="presentation" ng-class="changeTab('/employee')"><a href="#/employee">{{'HEADER_TAB_EMPLOYEES' | translate}}</a></li>
            <li ng-show="loggedInUser.isManager" role="presentation" ng-class="changeTab('/schedule')"><a href="#/schedule">{{'HEADER_TAB_SCHEDULING' | translate}}</a></li>

        </ul>
      </div>

    </div>
  </div>
</div>

