<form>
  <div class = "row">
    <div class="col-sm-2">
      <input type="text" class="form-control" ng-model="newHoliday.title" placeholder="New Holiday..."/>
    </div>
      <!-- TODO min date needs to be today-->
    <div class="col-sm-2">
      <md-datepicker ng-model="$parent.holidayDate"
      md-placeholder="Date">
      </md-datepicker>
    </div>
    <div class="col-sm-2">
      <select class="form-control" ng-model="newHoliday.open" placeholder="Store Open"
        ng-options="option.disp for option in times.start">
        <option value=null> Store Not Open </option>
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" ng-model="newHoliday.close" placeholder="Store Open"
        ng-options="option.disp for option in times.start">
        <option value=null> Store Not Open </option>
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success form-control"
        ng-click="addNewHoliday()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Holiday
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-2">
    <h3> Holiday List </h3>
  </div>
</div>
<hr/>
<div class="row request-title">
  <div class="col-sm-2">
    <p> Title </p>
  </div>
  <div class="col-sm-2">
    <p> Date </p>
  </div>
  <div class="col-sm-4">
    <p> Store Hours </p>
  </div>
</div>

<div ng-repeat="holiday in allHolidays">
  <div class="row">
    <div class="col-sm-2">
        {{holiday.title}}
    </div>
    <div class="col-sm-2">
      <p> {{holiday.date}} </p>
    </div>
    <div ng-show="{{holiday.storeOpen == '0000'}}" class="col-sm-4">
      store closed
    </div>
    <div ng-hide="{{holiday.storeOpen == '0000'}}" class="col-sm-4">
      {{holiday.storeOpen}}-{{holiday.storeClose}}
    </div>
    <div class="col-sm-2">
      <!-- TODO only show delete button for holidays that haven't occurred yet -->
      <button class="btn btn-danger" ng-click="deleteHoliday(holiday.id)">
        <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<div class="row request-title">
  <div class="col-sm-2">
    <span class="pull-left"> Schedule shifts up to </span>
  </div>
    <div class="col-sm-1">
      <input step="1" ng-model="$parent.extendStart" 
      ng-change="setExtend()" class="form-control" type="number"/>
  </div>
  <div class="col-sm-5">
    <span class="pull-left">hours before store open</span>
  </div>
</div>

<div class="row request-title">
  <div class="col-sm-2">
    <span class="pull-left"> Schedule shifts up to </span>
  </div>
    <div class="col-sm-1">
      <input step="1" ng-model="$parent.extendEnd"
     ng-change="setExtend()" class="form-control" type="number"/>
  </div>
  <div class="col-sm-5">
    <span class="pull-left">hours after store close</span>
  </div>
</div>

