<p class="lead"> Manage Shifts </p>
<div class="row">

  <!-- List Shifts Panel-->
  <div class="col-sm-3">
    <div class="panel panel-default shift-list-panel">
      <div class="panel-heading">
        <p class="lead">Shift List</p>
      </div>
      <div class="panel-body">
        <ng-include src="'views/templates/shift-list.html'"></ng-include>
      </div>
    </div>
  </div> <!-- end column 3 -->

  <!-- Manage Shifts Panel-->
  <div class="col-sm-9">
    <div class="panel panel-default shift-info-panel">
      <div class="panel-heading">
        <div class="row">

          <!-- Title -->
          <div class="col-sm-8">
            <p class="lead">Shift Edit</p>
          </div>

          <div class="col-sm-2">
            <!-- Save Existing Shift -->
            <div ng-cloak ng-show="shiftSelected()">
            <button type="button"
              class="btn btn-default form-control"
              ng-click="updateShift(shiftForm)"
              ng-disabled = "saving">
              Save
              <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
            </button>
            </div>
          </div>

          <div class="col-sm-2">
            <!--
            <div ng-cloak ng-hide="shiftSelected()">
            <button type="button" class="btn btn-success form-control"
              ng-click="addShift(shiftForm)"
              ng-disabled = "saving">
              Add Shift
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </div>
            <div ng-cloak ng-show="shiftSelected()">
            <button type="button"
              class="btn btn-danger form-control"
              ng-click="deleteShift(shiftForm)"
              ng-disabled = "saving">
              Delete
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            </div>
            -->
          </div>

        </div>
      </div>

      <div class="panel-body">
        <div ng-include="'views/templates/shift-info.html'"></div>
      </div>

    </div> <!-- end manage shifts panel -->
  </div><!-- end column 9 -->

</div><!-- end row -->
