<div ng-hide="requestsNum > 0" class="text-center">
  <p class="lead"> no pending requests </p>
</div>

<div ng-repeat="request in pendingRequests">
  <div class="row" style="margin: 0 20px 0 20px; padding-bottom:5px; padding-top: 5px; border-bottom: 1px solid #d1d1e0;">
    <div class="col-sm-4">
      <p>
        <strong>{{request.employeeFirstName}} {{request.employeeLastName}} </strong>
        {{defaultDate(request.startDate)}}
        <span ng-show="request.startDate != request.endDate"> - {{defaultDate(request.endDate)}} </span>
        <span> ({{totalDays(request.startDate, request.endDate)}} day<span ng-show="totalDays(request.startDate, request.endDate) > 1">s</span>) </span>
      </p>
    </div>
    <div class="col-sm-3">
      <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-success btn-block"
        ng-click="changeRequest(request, true)">
        Approve
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-danger btn-block"
        ng-click="changeRequest(request, false)">
        Deny
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
      </div>
    </div>
  </div>
</div>
