<div class="row">
  <div class="col-sm-12">
    <p class="lead">
    Pending Request
    </p>
  </div>
</div>

<div class="row request-title">
  <div class="col-sm-1">
    <p> Employee </p>
  </div>
  <div class="col-sm-2">
    <p> Start Date </p>
  </div>
  <div class="col-sm-2">
    <p> End Date </p>
  </div>
  <div class="col-sm-1">
    <p> Total Days </p>
  </div>
</div>


<div id="" style="overflow-y: scroll; height:250px;">
  <div  ng-repeat="request in pendingRequests">
    <br/>
    <div class="row">
      <div class="col-sm-1">
        <p> Dog </p>
      </div>
      <div class="col-sm-2">
        <p> {{defaultDate(request.startDate)}} </p>
      </div>
      <div class="col-sm-2">
        <p> {{defaultDate(request.endDate)}} </p>
      </div>
      <div class="col-sm-1">
        <p> {{totalDays(request.startDate, request.endDate)}} </p>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-success" 
          ng-click="changeRequest(request.requestID, loggedInUser.id, 1 )">
          Approve
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-danger"
          ng-click="changeRequest(request.requestID, loggedInUser.id, 0)">
          Deny
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary"
          ng-click="targetRequest(request)">
          Modifiy
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <div ng-show="seeTargetRequest">
    <div class="col-md=10">
      <h3>  {{defaultDate(selectedRequest.startDate)}} -->
            {{defaultDate(selectedRequest.endDate)}} 
      </h3>
    </div>
    <form> 
      <h4>
        Starting Date
        <md-datepicker ng-model="$parent.requestDateStart"
        md-placeholder="Starting Date" md-min-date="$parent.minDateStart"
        ng-change="updateEnd()">
        </md-datepicker>
        Ending Date
        <md-datepicker ng-model="$parent.requestDateEnd" 
        md-placeholder="Ending Date" md-min-date="$parent.requestDateStart">
        </md-datepicker>
      </h4>
      <button class="btn btn-primary" 
        ng-click="changeRequestDates()">
        <span class="glyphicon glyphicon-send"  aria-hidden="true"></span>
        Submit
      </button>
    </form>
  </div>
</div>

