<!-- Schedule Shift Edit -->
<div class="row request-title">
  <div class="col-sm-2">
    <p>Title</p>
    <input type="text" class="form-control" placeholder="title..."
      ng-model="selectedShift.title" ng-click="alteredTitle">
  </div>
  <div class="col-sm-2">
    <p>Position</p>
    <!--div class="dropdown">
      <button id="primary-role-dropdown" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="primary-role-dropdown">
        <li ng-repeat="position in positions">{{position.title}}</li>
      </ul>
    </div-->
    <select class="schedule-edit-shift-select" placeholder="Position"
      ng-model="selectedShift.pos" ng-options="option.title as option.title for option in positions">
      <option value="">- Position -</option>
    </select>
  </div>

  <div class="col-sm-3">
    <p>Weekdays</p>
    <div class="row">
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekday Start"
          ng-model="selectedShift.wd_st" ng-options="option.disp as option.disp for option in times.start">
          <option value="">- Start -</option>
        </select>
      </div>
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekday End"
          ng-model="selectedShift.wd_ed" ng-options="option.disp as option.disp for option in times.end">
          <option value="">- End -</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <p>Weekends</p>
    <div class="row">
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekend Start"
          ng-model="selectedShift.we_st" ng-options="option.disp as option.disp for option in times.start">
          <option value="">- Start -</option>
        </select>
      </div>
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekend End"
          ng-model="selectedShift.we_ed" ng-options="option.disp as option.disp for option in times.end">
          <option value="">- End -</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-1" ng-hide="shiftSelected()">
    <p>Add Shift</p>
    <button type="button" class="btn btn-success" ng-click="foo()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-sm-2" ng-hide="!shiftSelected()">
    <p>Remove Shift</p>
    <button type="button" class="btn btn-danger" ng-click="foo()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-2" ng-hide="!shiftSelected()">
    <button type="button" class="btn btn-info" ng-click="selectShift(-1)">
      Back to New Shift Edit
    </button>
  </div>
</div>
