<!-- Schedule Shift Edit -->
<div class="row request-title">
  <div class="col-sm-2">
    <p>Title</p>
  </div>
  <div class="col-sm-2">
    <p>Position</p>
  </div>
  <div class="col-sm-3">
    <p>Weekdays</p>
  </div>
  <div class="col-sm-3">
    <p>Weekends</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="title..."
      ng-model="shiftInfo.tname" ng-click="alteredTitle">
  </div>
  <div class="col-sm-2">
    <!--div class="dropdown">
      <button id="primary-role-dropdown" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="primary-role-dropdown">
        <li ng-repeat="position in positions">{{position.title}}</li>
      </ul>
    </div-->
    <select class="schedule-edit-shift-select" placeholder="Position"
      ng-model="shiftInfo.pid" ng-options="option.id as option.title for option in positions">
      <option value="">- Position -</option>
    </select>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekday Start"
          ng-model="shiftInfo.wd_st" ng-options="option.val as option.disp for option in times.start">
          <option value="">- Start -</option>
        </select>
      </div>
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekday End"
          ng-model="shiftInfo.wd_ed" ng-options="option.val as option.disp for option in times.end">
          <option value="">- End -</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekend Start"
          ng-model="shiftInfo.we_st" ng-options="option.val as option.disp for option in times.start">
          <option value="">- Start -</option>
        </select>
      </div>
      <div class="col-sm-5">
        <select class="schedule-edit-shift-select" placeholder="Weekend End"
          ng-model="shiftInfo.we_ed" ng-options="option.val as option.disp for option in times.end">
          <option value="">- End -</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-1" ng-hide="shiftSelected()">
    <button type="button" class="btn btn-success" ng-click="addShift()">
      <span class="schedule-edit-shift-txt-addshift">Add Shift</span>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-sm-1" ng-hide="!shiftSelected()">
    <!-- visual indication that changes are all saved -->
    <!--button class = "btn btn-success schedule-view-button"
      ng-show = ""
      ng-click = "">
      Save
      <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
    </button-->
    <!-- Default button -->
    <button type="button" class="btn btn-default schedule-view-button" ng-click="updateShift()">
      Save
      <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-sm-1" ng-hide="!shiftSelected()">
    <button type="button" class="btn btn-danger" ng-click="deleteShift()">
      Delete
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="row centered-elem schedule-edit-shift-droprow">
  <div class="center-block" ng-hide="!shiftSelected()">
    <button type="button schedule-edit-shift-btn-newshift" class="btn btn-info" ng-click="selectShift(-1)">
      Back to New Shift Edit
    </button>
  </div>
</div>
