
<div class="well well-sm schedule-console">
  <div class="row">
    <div class="col-sm-2">
      <ul data-as-sortable="gapDragControlListeners" data-ng-model="items">
        <li data-ng-repeat="item in items" data-as-sortable-item>
        <!-- Spacers active -->
          <div data-as-sortable-item-handle ng-hide="hideSpacers" >
            <button type="button" style="cursor:inherit" class="btn btn-info position-button"
              ng-click="toggleHideSpacers();">
              <!--ng-click="template.unshift({'isSpacer':true})"-->
              <span class="glyphicon glyphicon-move" aria-hidden="true"> </span>
              spacer on
            </button>
          </div>
          <!-- Spacers inactive -->
          <div ng-show="hideSpacers" >
            <button type="button" style="cursor:inherit" class="btn btn-default position-button"
              ng-click="toggleHideSpacers();">
              <!--ng-click="template.unshift({'isSpacer':true})"-->
              <span class="glyphicon glyphicon-move" aria-hidden="true"> </span>
              spacer off
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <!-- Filter/ Narrow Schedule by location/shift -->
      <div class="position-button-bar">
        <!-- Filter by Position -->
        <div class="dropdown pull-left" dropdown is-open=true>
          <button type="button"
            id="selectPosition"
            class="btn btn-primary position-button"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            {{selectedPosition}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" rol="menu" arial-labelledby="selectPosition">
            <li role="menuitem"><a ng-click="selectPosition(0, 'all')">All</a></li>
            <li ng-repeat = "pos in positions" value ="pos.title">
            <a ng-click="selectPosition(pos.id, pos.title)">{{pos.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-8" >
      <div ng-hide="errors.available && errors.hasPosition">

        <!-- Error messages -->
        <strong style="color: #9900cc">{{errors.selectedName}}</strong>

        <!-- Not Available -->
          <span ng-hide="errors.available">
          is 
          <span style="color:#b30086"> not available</span> 
            <span ng-hide="errors.hasPosition"> and </span>
          </span>

        <!-- Does not have position-->
          <span ng-hide="errors.hasPosition"> 
            does not have the position
          <span style="color:#b30086"> {{errors.selectedPosition}}</span>
        </span>

      </div>
    </div>
  </div>
</div>

<!-- scrollable view -->
<div class="data-view">
  <!-- shifts -->
  <ul id="board" data-as-sortable="boardDragControlListeners" data-ng-model="template">
  <li data-ng-repeat="t in template" data-as-sortable-item ng-show="filterSchedule(t.pid)">
    <div class="row">
      <!-- ng-show="filterByType(t.location, t.position, user.firstname, t.mon, t.tue, t.wed, t.thu, t.fri, t.sat, t.sun)" -->

      <!-- Spacer -->
      <div data-as-sortable-item-handle>
        <div class="col-sm-2 schedule-edit-task-names">
          <span ng-click="selectPosition(t.pid, t.position)">{{t.tname}}</span>
          <div ng-hide="hideSpacers">
            <div ng-show="t.isSpacer">
              <button type="button" style="cursor:inherit;" class="btn btn-info position-button" >
                <span class="glyphicon glyphicon-move" aria-hidden="true"> </span>
                Spacer
              </button>
              <span style="margin-left:15px; cursor:pointer;" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="template.splice($index, 1)"></span>
            </div>
          </div>
        </div>

    <!-- weekday times -->
        <div class="col-sm-1 schedule-times">
          <div ng-hide="t.isSpacer">
            {{formatTime(t.weekdayStart, false)}} - {{formatTime(t.weekdayEnd, false)}}
          </div>
        </div>
      </div>

      <div ng-hide="t.isSpacer">
        <!-- Monday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.mon.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.mon.val}}
          day="mon"
          shiftStart={{t.weekdayStart}}
          shiftEnd={{t.weekdayEnd}}
          ng-click="selectEid(t, 'mon', t.mon.hasAvailability, t.mon.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.mon.eid, t.sid, t.mon.hasAvailability, t.mon.hasPosition, t.mon.holiday)"
          ng-model="t.mon.name">
        </div>

        <!-- Tuesday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.tue.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.tue.val}}
          day="tue"
          shiftStart={{t.weekdayStart}}
          shiftEnd={{t.weekdayEnd}}
          ng-click="selectEid(t, 'tue', t.tue.hasAvailability, t.tue.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.tue.eid, t.sid, t.tue.hasAvailability, t.tue.hasPosition, t.tue.holiday)"
          ng-model="t.tue.name">
        </div>

        <!-- Wednesday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.wed.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.wed.val}}
          day="wed"
          shiftStart={{t.weekdayStart}}
          shiftEnd={{t.weekdayEnd}}
          ng-click="selectEid(t, 'wed', t.wed.hasAvailability, t.wed.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.wed.eid, t.sid, t.wed.hasAvailability, t.wed.hasPosition, t.wed.holiday)"
          ng-model="t.wed.name">
        </div>

        <!-- Thursday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.thu.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.thu.val}}
          day="thu"
          shiftStart={{t.weekdayStart}}
          shiftEnd={{t.weekdayEnd}}
          ng-click="selectEid(t, 'thu', t.thu.hasAvailability, t.thu.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.thu.eid, t.sid, t.thu.hasAvailability, t.thu.hasPosition, t.thu.holiday)"
          ng-model="t.thu.name">
        </div>

        <!-- Friday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.fri.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.fri.val}}
          day="fri"
          shiftStart={{t.weekdayStart}}
          shiftEnd={{t.weekdayEnd}}
          ng-click="selectEid(t, 'fri', t.fri.hasAvailability, t.fri.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.fri.eid, t.sid, t.fri.hasAvailability, t.fri.hasPosition, t.fri.holiday)"
          ng-model="t.fri.name">
        </div>

    <!-- weekend times -->
        <div class="col-sm-1 col-sm-offset-0 schedule-times" >
          {{formatTime(t.weekendStart, false)}} - {{formatTime(t.weekendEnd, false)}}
        </div>

        <!-- Saturday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.sat.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.sat.val}}
          day="sat"
          shiftStart={{t.weekendStart}}
          shiftEnd={{t.weekendEnd}}
          ng-click="selectEid(t, 'sat', t.sat.hasAvailability, t.sat.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.sat.eid, t.sid, t.sat.hasAvailability, t.sat.hasPosition, t.sat.holiday)"
          ng-model="t.sat.name">
        </div>

        <!-- Sunday -->
        <div class="col-sm-1 col-sm-offset-0  schedule-edit">
          <input select-on-click
          eid={{t.sun.eid}}
          pid={{t.pid}}
          sid={{t.sid}}
          idx={{$index}}
          date={{date.sun.val}}
          day="sun"
          shiftStart={{t.weekendStart}}
          shiftEnd={{t.weekendEnd}}
          ng-click="selectEid(t, 'sun', t.sat.hasAvailability, t.sat.hasPosition)"
          type="text"
          ng-disabled="saving"
          ng-class="inputStatus(t.sun.eid, t.sid, t.sun.hasAvailability, t.sun.hasPosition, t.sun.holiday)"
          ng-model="t.sun.name">
        </div>
      </div>

    </div>
  </li>
  </ul>
</div>

