
<!-- Options for Schedule View -->
<div class="row hidden-xs">
  <div class="col-sm-12">
    <div class="pull-left">

      <!-- Show Deliveries-->
      <button class="btn btn-default" ng-click="toggleDeliveries()">
        <div ng-hide="revealDeliveries"> {{ 'SCHEDULE_VIEW_SHOW_DELIVERIES' | translate }} </div>
        <div ng-show="revealDeliveries"> {{ 'SCHEDULE_VIEW_HIDE_DELIVERIES' | translate }} </div>
      </button>
      

      <!-- highlight logged in user's name -->
      <button class="btn btn-default"
        ng-hide="highlight"
        ng-disabled = "loading"
        ng-click="selectLoggedInUser()">
        {{'SCHEDULE_VIEW_HIGHLIGHTER' | translate}} {{'SCHEDULE_VIEW_OFF' | translate}}
      </button>
      <button class="btn btn-info"
        ng-show="highlight"
        ng-disabled = "loading"
        ng-click="selectLoggedInUser()">
        {{'SCHEDULE_VIEW_HIGHLIGHTER' | translate}} on
      </button>

      <!-- Filter by User, Location, or Position -->
      <div class="dropdown pull-left" dropdown is-open=true>
        <button type="button"
        ng-disabled = "loading"
          id="dropDownMenu1"
          class="btn btn-default"
          data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          {{type}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" rol="menu" arial-labelledby="dropDownMenu1">
          <li role="menuitem"><a ng-click="changeType('all')"> {{'SCHEDULE_VIEW_ALL' | translate }} </a></li>
          <li role="menuitem"><a ng-click="changeType('mine')">{{'SCHEDULE_VIEW_MINE' | translate }}</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">{{'SCHEDULE_VIEW_POSITIONS' | translate }}</li>
          <li ng-repeat = "pos in positions" value ="{{pos.title}}"><a ng-click="changeType(pos.title)">{{pos.title}}</a> </li>
        </ul>
      </div>
    </div>
    <div style="position:fixed left:30%;" ng-show="loading">
      <i style="color:grey; position:absolute" class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
    </div>

    <!-- Download and Print Options -->
    <form class="pull-right">
      <!--
      <button class="btn btn-primary">
        Download
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
      </button>
      -->
      <button class="btn btn-primary"
        ng-disabled = "loading"
        onclick="window.print()">
        {{'SCHEDULE_VIEW_PRINT' | translate }}
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>
