<div class="hidden-md hidden-lg hidden-xl">

  <div class="mobile-box">
    <p class="mobile-title">Sunday {{date.sun.disp}}</p>
    <div ng-repeat="t in mobileList.sun" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekendStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title-first">Monday {{date.mon.disp}}</p>
    <div ng-repeat="t in mobileList.mon" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title">Tuesday {{date.tue.disp}}</p>
    <div ng-repeat="t in mobileList.tue" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title">Wednesday {{date.wed.disp}}</p>
    <div ng-repeat="t in mobileList.wed" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title">Thursday {{date.thu.disp}}</p>
    <div ng-repeat="t in mobileList.thu" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title">Friday {{date.fri.disp}}</p>
    <div ng-repeat="t in mobileList.fri" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

  <div class="mobile-box">
    <p class="mobile-title">Saturday {{date.sat.disp}}</p>
    <div ng-repeat="t in mobileList.sat" ng-show="t.eid == loggedInUser.id">
      <span class="mobile-time">{{formatTime(t.weekdayStart,true)}}-{{formatTime(t.weekdayEnd,true)}}</span> {{t.tname}}
    </div>
  </div>

</div>

<div class="hidden-sm hidden-xs">

  <!-- shifts -->
  <div ng-repeat="t in template">
    <div class="row schedule-view-row" ng-show="filterByType(t.location, t.position, t)">

      <div ng-hide="t.isSpacer">
        <!-- shift title -->
        <div class="col-sm-2 col-sm-offset-0" >
            {{t.tname}}
        </div>

        <!-- weekday times -->
        <div class="col-sm-1 col-sm-offset-0 schedule-times" >
          <!-- TODO hide the times when this shift has no weekday times -->
          {{formatTime(t.weekdayStart, false)}} - {{formatTime(t.weekdayEnd, false)}}
        </div>

        <div class="col-sm-1 col-sm-offset-0 ">
          <div ng-class="{true:'highlighted', false:''}[(t.sun.eid==loggedInUser.id) && highlight]">
            {{t.sun.name}} <!-- Sunday -->
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-0">
          <div ng-class="{true:'highlighted', false:''}[(t.mon.eid==loggedInUser.id) && highlight]">
            {{t.mon.name}} <!-- Monday -->
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-0">
          <div ng-class="{true:'highlighted', false:''}[(t.tue.eid==loggedInUser.id) && highlight]">
            {{t.tue.name}} <!-- Tuesday -->
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-0">
          <div ng-class="{true:'highlighted', false:''}[(t.wed.eid==loggedInUser.id) && highlight]">
            {{t.wed.name}} <!-- Wednesday -->
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-0">
          <div ng-class="{true:'highlighted', false:''}[(t.thu.eid==loggedInUser.id) && highlight]">
            {{t.thu.name}} <!-- Thursday -->
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-0">
          <div ng-class="{true:'highlighted', false:''}[(t.fri.eid==loggedInUser.id) && highlight]">
            {{t.fri.name}} <!-- Friday -->
          </div>
        </div>

        <div class="col-sm-1 col-sm-offset-0 ">
          <div ng-class="{true:'highlighted', false:''}[(t.sat.eid==loggedInUser.id) && highlight]">
            {{t.sat.name}} <!-- Saturday -->
          </div>
        </div>
      </div><!-- end of div hide if spacer -->

    </div><!-- end div schedule row using filter-->
  </div><!-- end repeat schedule template -->

</div><!-- end div hidden xs -->
