
<div class="row hidden-xs schedule-view-options">

  <div class="col-sm-12">

    <div class="pull-left">

      <button class = "btn btn-info"
        ng-click = "autoGenerate()"
        ng-disabled = "saving">
        Auto-Generate
        <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
      </button>
      <div class="dropdown pull-left" dropdown is-open=true>
        <button type="button" id="selectWeek" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true"
          class="btn btn-info pull-left"
          ng-disabled = "loading || saving || importing">
          Import {{weekList[selectedWeek].name}} <span class="caret"></span>
        </button>
        <div ng-show="importing" class="pull-left">
          <i class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
        </div>
        <ul class="dropdown-menu" rol="menu" arial-labelledby="selectWeek">
          <li ng-repeat = "w in weekList" value ="{{w.name}}">
            <a ng-click="importWeek($index)">{{w.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <form class="pull-right">
      <!-- Download and Print Options -->
      <button ng-click="clearSchedule()" 
        ng-disabled = "saving || importing"
        class="btn btn-default btn-warning">
        Clear
        <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>

      <!-- visual indication that changes are all saved -->
      <button class = "btn btn-success"
        ng-disabled = "saving || importing"
        ng-hide = "changesMade">
        Saved
        <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
      </button>
      <div class="pull-left" ng-show="saving">
        <i class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
      </div>

      <!-- Default button -->
      <button class = "btn btn-default"
        ng-disabled = "saving || importing"
        ng-show = "changesMade"
        ng-click = "saveSchedule()">
        Save Changes
        <!--<span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>-->
      </button>

      <button class = "btn btn-default"
        ng-click = "publishSchedule()"
        ng-hide = "isPublished"
        ng-disabled = "saving || updateShifts.length>0 || deleteShifts.length>0 || importing">
        Publish
        <span class="glyphicon glyphicon glyphicon-pushpin" aria-hidden="true"></span>
      </button>
      
      <button class = "btn btn-primary"
        ng-show = "isPublished"
        ng-disabled = "saving">
        Published
        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>

    </form>

  </div>
</div> <!-- End Schedule Edit Options -->

