
<!-- Saving Alerts -->
<button type="button"
  class="container btn alert alert-success center-block"
  data-ng-click="flagOff('shiftSaved')" ng-show="shiftSaved">
  <span class="text-center">
    <strong>Saved</strong>
    <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
  </span>
</button>

<button type="button"
  class="container btn alert alert-danger center-block"
  data-ng-click="flagOff('shiftSaveError')" ng-show="shiftSaveError">
  <span class="text-center">
    <strong>Error Saving!</strong>
  </span>
</button>

<!-- Shift Edit Form -->
<form class="request-title">
  <div class="row">

    <!-- Title -->
    <div class="form-group col-sm-3">
      <label for="shiftTitle"> Title </label>
      <input id="shiftTitle" type="text" class="form-control" placeholder="title..."
        ng-model="selectedShift.tname" ng-click="alteredTitle">
    </div>

    <!-- Position -->
    <div class="form-group col-sm-3">
      <label for="shiftPosition"> Position </label>
      <select id="shiftPosition" class="form-control" placeholder="Position" ng-model="selectedShift.pid" ng-options="option.id as option.title for option in positions">
        <option value="">- Position -</option>
      </select>
    </div>

    <!-- Weekday Hours -->
    <div class="form-group col-sm-3">
      <label> Weekdays </label>
      <div class="row">
        <div class="col-sm-6">
          <select id="shiftWeekdayStart" class="form-control" placeholder="Weekday Start"
            ng-model="selectedShift.weekdayStart" ng-options="option.val as option.disp for option in times.start">
            <option value="">- Start -</option>
          </select>
        </div>
        <div class="col-sm-6">
          <select id="shiftWeekdayEnd" class="form-control" placeholder="Weekday End"
            ng-model="selectedShift.weekdayEnd" ng-options="option.val as option.disp for option in times.end">
            <option value="">- End -</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Weekend Hours -->
    <div class="form-group col-sm-3">
      <label>Weekends</label>
      <div class="row">
        <div class="col-sm-6">
          <select id="shiftWeekendStart" class="form-control" placeholder="Weekend Start"
            ng-model="selectedShift.weekendStart" ng-options="option.val as option.disp for option in times.start">
            <option value="">- Start -</option>
          </select>
        </div>
        <div class="col-sm-6">
          <select id="shiftWeekendEnd" class="form-control" placeholder="Weekend End"
            ng-model="selectedShift.weekendEnd" ng-options="option.val as option.disp for option in times.end">
            <option value="">- End -</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</form>

