
<!-- Search Bar-->
<div class="form-group">
  <div class="input-group">
    <div class="btn btn-default input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input type="text" class="form-control" id="shift-search" ng-model="shiftSearch" placeholder="Search...">
    <!-- Clear Search -->
    <div class="btn btn-default input-group-addon"
      ng-click="shiftSearch=''"
      ng-hide="shiftSearch == '' || shiftSearch == undefined">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
</div>

<!-- Clear Form For New Employee -->
<button ng-click="clearShiftSelect()"
  class="btn btn-success btn-block">
  <div class="pull-left">
    <i class="glyphicon glyphicon-plus"></i> Add New
  </div>
</button>

<!-- Repeating List of Employees-->
<div class="list-group shift-list-wrapper">
  <div ng-repeat="s in template | filter : shiftSearch">
    <button ng-click="selectShift(s)"
      class="list-group-item btn btn-default btn-block"
      ng-class="{'active': shiftInfo.sid===s.sid}">
      <div class="pull-left" ng-model="template">
        {{::s.tname}}, {{::s.weekdayStart}}-{{::s.weekdayEnd}}
      </div>
    </button>
  </div>
</div>
