

<!-- Saving Alerts -->
<button type="button"
  class="container btn alert alert-success center-block hide-fade"
  data-ng-click="resetShiftErrorFlags()" ng-show="shiftSaved && !shiftForm.form.$dirty">
  <span class="text-center">
    <strong>Success</strong>
    <span class="glyphicon glyphicon glyphicon-saved" aria-hidden="true"></span>
  </span>
</button>

<button type="button"
  class="container btn alert alert-danger center-block hide-fade"
  data-ng-click="resetShiftErrorFlags()" ng-show="shiftSaveError">
  <span class="text-center">
    <strong>Error Saving!</strong>
  </span>
</button>

<!-- Shift Edit Form -->
<form name="shiftForm.form" class="request-title css-form" novalidate>
  <div class="row">

    <!-- Task Name -->
    <div class="form-group col-sm-3">
      <label for="shiftTitle"> Title </label>
      <input id="shiftTitle" type="text" name="tname" class="form-control" placeholder="title..." required=""
        ng-model="selectedShift.tname">
    </div>

    <!-- Position -->
    <div class="form-group col-sm-3">
      <label for="shiftPosition"> Position </label>
      <select id="shiftPosition" class="form-control" name="position" placeholder="Position"  required=""
        ng-model="selectedShift.pid" 
        ng-options="p.id as p.title for p in positions"
        value="{{option.id}}">
        <option value="">- Position -</option>
      </select>
    </div>

    <!-- Weekday Hours -->
    <div class="form-group col-sm-3">
      <label> Weekdays </label>
      <div class="row">
        <div class="col-sm-6">
          <select id="shiftWeekdayStart" name="shiftWeekdayStart" class="form-control" placeholder="Weekday Start" required=""
            ng-model="selectedShift.weekdayStart" ng-options="option.val as option.disp for option in times.start">
            <option value="">- Start -</option>
          </select>
        </div>
        <div class="col-sm-6">
          <select id="shiftWeekdayEnd" name="shiftWeekdayEnd" class="form-control" placeholder="Weekday End" required=""
            ng-model="selectedShift.weekdayEnd" ng-options="option.val as option.disp for option in times.end">
            <option value="">- End -</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Weekend Hours -->
    <div class="form-group col-sm-3">
      <label>Weekends</label>
      <div class="row">
        <div class="col-sm-6">
          <select id="shiftWeekendStart" name="shiftWeekendStart" class="form-control" placeholder="Weekend Start" required=""
            ng-model="selectedShift.weekendStart" ng-options="option.val as option.disp for option in times.start">
            <option value="">- Start -</option>
          </select>
        </div>
        <div class="col-sm-6">
          <select id="shiftWeekendEnd" name="shiftWeekendEnd" class="form-control" placeholder="Weekend End" required=""
            ng-model="selectedShift.weekendEnd" ng-options="option.val as option.disp for option in times.end">
            <option value="">- End -</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</form>

