
<!-- something went wrong - database connection, authentication login not found... -->
<div class="container text-center" ng-show="appFailure">
  <div class="panel panel-default hidden-print" style="height: 300px;">
    <div class="row panel-body">
      <p class="lead">
        Something went wrong on our end
      </p>
    </div>
  </div>
</div>

<div class="container" ng-hide="appFailure">
  <div class="panel panel-default hidden-print" style="height: 300px;">
    <div class="row panel-body">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <p class="lead">
          {{ 'LOGIN_EMPLOYEE_SCHEDULING' | translate}}
          </p>
          <p class="lead">
            <p ng-show="loggingIn">
              <i class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
              {{loadingMsg | translate }}
            </p>
          </p>
        </div>
      </div>

      <!-- Error Messages -->
      <div class="row panel-body text-center">
        <div class="col-sm-12">
          <div ng-show="errorMessage.length > 0">
            <p class="lead">{{'LOGIN_FAILED_FOR' | translate}} <strong>{{attemptedLogin.email}}</strong> </p>
            <p class="lead">{{errorMessage | translate}}</p>
            <hr/>
          </div>
          <button class="btn btn-lg btn-default" style="margin-right: 10px;" ng-show="attemptedLogin.google_id" href="#/login" onclick="differentUser();" ng-disabled="loggingIn">{{'UPSIDE_DOWN_QUESTION_MARK' | translate}}{{'HEADER_NOT' | translate}} {{attemptedLogin.name}}?</button>
          <button ng-show="attemptedLogin.google_id" style="margin-left: 10px;" ng-click="visitSignup()" class="btn btn-lg btn-primary" ng-disabled="loggingIn">
            {{'UPSIDE_DOWN_QUESTION_MARK' | translate}} {{'LOGIN_NEED_AN_ACCOUNT' | translate}}
          </button>
        </div>
      </div>

    </div>
  </div>
  <a class="lead" href="http://bethgrace5.github.io/sequoia-grove/">
    Learn more
  </a>
  <a href="#/signup" class="lead pull-right" style="cursor:pointer;"
    ng-disabled="loggingIn">
    Need an account?
  </a>
  <!--
  <div class="form-group">
    <label for="dev-mode">Dev Mode</label>
    <input id="dev-mode" type="checkbox"
    ng-disabled="loggingIn"
    ng-click="updateDevMode()"
    ng-model="devMode"/>
  </div>
  -->
</div>
