
<div class="container-fluid hidden-print">

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" ng-show="loggedInUser.isManager">
    <!--
    <li role="presentation" ng-class="{true:'active', false:''}[isActive('holiday')]">
      <a ng-click="activeTab='holiday'" href="">Holidays</a>
    </li>
    -->

    <li role="presentation" ng-class="{true:'active', false:''}[isActive('shift')]">
      <a ng-click="activeTab='shift'"href="">Shifts</a>
    </li>

    <li role="presentation" ng-class="{true:'active', false:''}[isActive('delivery')]">
      <a ng-click="activeTab='delivery'"href="">Deliveries</a>
    </li>

    <!--
    <li role="presentation" ng-class="{true:'active', false:''}[isActive('restriction')]">
      <a ng-click="activeTab='restriction'"href="">Restrictions</a>
    </li>
    -->
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">

    <!-- Edit Holidays -->
    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('holiday')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <ng-include src="'views/templates/manage/manage-holidays.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Edit Shifts -->
    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('shift')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <!--<ng-include src="'views/templates/manage/manage-shifts.html'"></ng-include>-->
          <p style="font-size: 1.3em; color:#008080; margin-left: 50px; margin-right:50px;">
          Management of shifts has been disabled until it becomes more stable. <br/>
          Email Beth to edit shifts.
          </p>
          <p style="font-size: 1.5em; color:#00cccc; margin-left: 50px; margin-right:50px;">
          bethgrace5@gmail.com
          </p>
        </div>
      </div>
    </div>

    <!-- Edit Deliveries -->
    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('delivery')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <ng-include src="'views/templates/manage/manage-deliveries.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Edit Restrictions (cannot work with) -->
    <div ng-class="{true:'tab-pane active',false:'tab-pane'}[isActive('restriction')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <ng-include src="'views/templates/manage/manage-restrictions.html'"></ng-include>
        </div>
      </div>
    </div>

  </div>

</div>
