<!-- Feature Request -->


  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" ng-show="loggedInUser.isManager">

    <!-- Submit Request Tab-->
    <li role="presentation" ng-class="{true:'active', false:''}[isActive('submit')]">
    <a ng-click="activeTab='submit'" href=""> {{'SUBMIT' | translate}} </a>
    </li>

    <li role="presentation" ng-class="{true:'active', false:''}[isActive('pending')]">
      <a ng-click="activeTab='pending'"href="">Respond to Pending</a>
    </li>

    <li role="presentation" ng-class="{true:'active', false:''}[isActive('history')]">
      <a ng-click="activeTab='history'"href="">View History</a>
      </li>

    <li role="presentation" ng-class="{true:'active', false:''}[isActive('submit-for')]">
      <a ng-click="activeTab='submit-for'"href="">Manage</a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">

    <!-- Submit Request Content-->
    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('submit')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <!-- Request Submit / User Request  -->
          <ng-include src="'views/templates/request/request-submit.html'"></ng-include>
        </div>
      </div>
    </div>

    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('history')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <!--  All Request History -->
          <ng-include src="'views/templates/request/request-history.html'"></ng-include>
        </div>
      </div>
    </div>

    <div ng-class="{true:'tab-pane active', false:'tab-pane'}[isActive('pending')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <!--  All Pending Request -->
          <ng-include src="'views/templates/request/request-pending.html'"></ng-include>
        </div>
      </div>
    </div>

    <div ng-class="{true:'tab-pane active',false:'tab-pane'}[isActive('submit-for')]">
      <div class="panel panel-default hidden-print request-panel">
        <div class="panel-body">
          <!--  All Pending Request -->
          <ng-include src="'views/templates/request/request-manager-mode.html'"></ng-include>
        </div>
      </div>
    </div>

  </div>

</div>
