<div class="container-fluid">
  <p class="lead">
    Employee View
  </p>

  <div>
      <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active: activeTab == 'info'}"
              ng-click="activeTab='info'"><a href="#/employee">Info</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'availability'}"
              ng-click="activeTab='availability'"><a href="#/employee">Availibility</a></li>
      </ul>
      <div class="tab-content">
          <div ng-show="activeTab=='info'" class="tab-pane active">
              <p class="lead"> edit employee info directive </p>
              <!-- <edit-employee-info></edit-employee-info> -->
          </div>

          <div ng-show="activeTab=='availability'" class="tab-pane active">
              <p class="lead"> edit employee availibility directive </p>
              <!-- <edit-employee-availibility></edit-employee-availibility> -->
          </div>
      </div>
  </div>
</div>
