<div class="container-fluid">
  <p class="lead">
    Request View
  </p>

  <div ng-show="user.type === 'manager'">
      <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active: activeTab == 'pending'}"
          ng-click="activeTab='pending'"><a href="#/request">{{'REQUEST_TAB_PENDING' | translate}}</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'history'}"
          ng-click="activeTab='history'"><a href="#/request">{{'REQUEST_TAB_HISTORY' | translate}}</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'myRequests'}"
          ng-click="activeTab='myRequests'"><a href="#/request">{{'REQUEST_TAB_MY_REQUESTS' | translate}}</a></li>
      </ul>
      <div class="tab-content">
          <div ng-show="activeTab=='pending'" class="tab-pane active">
              <request-pending></request-pending>
          </div>
          <div ng-show="activeTab=='history'" class="tab-pane active">
              <request-history></request-history>
          </div>
          <div ng-show="activeTab=='myRequests'" class="tab-pane active">
              <request-submit></request-submit>
          </div>
      </div>
  </div>

  <div ng-hide="user.type === 'manager'">
      <p>
        My Requests
      </p>

  </div>
</div>
