<div class="container-fluid">
  <p class="lead">
    Request View
  </p>

  <div ng-show="user.type === 'manager'">
      <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active: activeTab == 'pending'}"
              ng-click="activeTab='pending'"><a href="#/request">Pending</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'history'}"
              ng-click="activeTab='history'"><a href="#/request">History</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'myRequests'}"
              ng-click="activeTab='myRequests'"><a href="#/request">My Requests</a></li>
      </ul>
      <div class="tab-content">
          <div ng-show="activeTab=='pending'" class="tab-pane active">
              <p class="lead"> edit pending requests directive </p>
              <!-- <edit-pending-requests></edit-pending-requests> -->
          </div>
          <div ng-show="activeTab=='history'" class="tab-pane active">
              <p class="lead"> view request history directive </p>
              <!-- <view-request-history></view-request-history> -->
          </div>
          <div ng-show="activeTab=='myRequests'" class="tab-pane active">
              <p class="lead"> user requests directive </p>
              <!-- <user-requests></user-requests> -->
          </div>
      </div>
  </div>

  <div ng-hide="user.type === 'manager'">
      <p>
        My Requests
      </p>

  </div>
</div>
