<div class="container">
  <p class="lead">
  Schedule View
  </p>
  <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: activeTab == 'schedule'}"
          ng-click="activeTab='schedule'"><a href="#/schedule">Schedule</a></li>

      <li role="presentation" ng-class="{active: activeTab == 'history'}"
          ng-click="activeTab='history'"><a href="#/schedule">History</a></li>

      <li role="presentation" ng-class="{active: activeTab == 'deliveries'}"
          ng-click="activeTab='deliveries'"><a href="#/schedule">Deliveries</a></li>

      <li role="presentation" ng-class="{active: activeTab == 'shifts'}"
          ng-click="activeTab='shifts'"><a href="#/schedule">Shifts</a></li>
  </ul>
</div>
