<div class="container-fluid">
  <p class="lead">
  Schedule View
  </p>

  <div>
      <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active: activeTab == 'schedule'}"
              ng-click="activeTab='schedule'"><a href="#/schedule">Schedule</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'history'}"
              ng-click="activeTab='history'"><a href="#/schedule">History</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'deliveries'}"
              ng-click="activeTab='deliveries'"><a href="#/schedule">Deliveries</a></li>

          <li role="presentation" ng-class="{active: activeTab == 'shifts'}"
              ng-click="activeTab='shifts'"><a href="#/schedule">Shifts</a></li>
      </ul>
      <div class="tab-content">
          <div ng-show="activeTab=='schedule'" class="tab-pane active">
              <schedule-edit></schedule-edit>
          </div>
          <div ng-show="activeTab=='history'" class="tab-pane active">
              <schedule-view></schedule-view>
          </div>
          <div ng-show="activeTab=='deliveries'" class="tab-pane active">
              <schedule-delivery-edit></schedule-delivery-edit>
          </div>
          <div ng-show="activeTab=='shifts'" class="tab-pane active">
              <schedule-shift-edit></schedule-shift-edit>
          </div>
      </div>
  </div>
</div>
