
<!-- EDIT -->
<div>
  <form name="employeeform" novalidate>
    <div class="row">

      <div class="form-group col-xs-12 col-md-4">
        <label for="firstname">First Name</label>
        <input name="firstname" type="text" id="firstname" class="form-control" required=""
        ng-model="selectedEmployee.firstname"
        placeholder="First" />
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <label for="firstname">Last Name</label>
        <input name="lastname" type="text" id="lastname" class="form-control" required=""
        ng-model="selectedEmployee.lastname"
        placeholder="Last" />
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <label for="birthdateTemplate"> Birthdate </label>
        <md-datepicker class="form-control" style="margin:0; padding: 0; border: none; outline:none; box-shadow: none;" id="birthdateTemplate" ng-model="$parent.birthday"> </md-datepicker>
      </div>

      <div class="form-group col-xs-12 col-md-4">
        <label for="email">Email</label>
        <input name="email" type="email" id="email" class="form-control" required=""
        ng-model="selectedEmployee.email"
        placeholder="email" />
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <label for="phone">Phone</label>
        <input name="phone" type="phone" id="phone" class="form-control"
        ng-model="selectedEmployee.phone"
        placeholder="#" />
      </div>

      <div class="form-group col-xs-12 col-md-4">
        <label for="clockNumber">Clock-in number</label>
        <input name="clockNumber" type="number" id="clockNumber" class="form-control"
        ng-model="selectedEmployee.clockNumber"
        placeholder="#" />
      </div>

      <!--
      <label for="max">Hours</label>
      -->
      <!--
      <div class="col-md-2">
        <input name="minHours" type="number" id="min" class="form-control"
        ng-model="selectedEmployee.minHours"
        placeholder="Minimum" />
      </div>
      -->
      <!--
      <div class="col-md-2">
        <input name="maxHours" type="number" id="maxHours" class="form-control"
        ng-model="selectedEmployee.maxHours"
        placeholder="Maximum" />
      </div>
      -->


      <!--
      <label for="classification" class="col-md-2 control-label"> Classification </label>
      -->
      <!--
      <div class="col-md-4">
        <div class="pull-left">
          <div class="dropdown pull-left" dropdown is-open=true>
            <button type="button" id="selectClassification" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true"
              ng-disabled = "loggedInUser.id === selectedEmployee.id"
              class="btn btn-default">
              {{classifications[selectedClassification].disp}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"
              ng-model="selectedClassification" arial-labelledby="selectClassification">
              <li ng-repeat = "c in classifications" value ="{{c.val}}"><a ng-click="selectClassification($index)">{{c.disp}}</a> </li>
            </ul>
          </div>
        </div>
      </div>
      -->

      <div class="form-group col-xs-12">
        <label for="notes-pane"> Notes </label>
        <textarea id="notes-pane" class="form-control" rows="3" maxlength="1024"
          ng-model="selectedEmployee.notes">
        </textarea>
      </div>

    </div> <!-- end row -->
  </form>
</div><!-- end edit -->

