
<!-- Search Bar-->
<div class="form-group">
  <div class="input-group">
    <div class="btn btn-default input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input type="text" class="form-control" id="em-search" ng-model="empSearch" placeholder="Search...">
    <!-- Clear Search -->
    <div class="btn btn-default input-group-addon"
      ng-click="empSearch=''"
      ng-hide="empSearch == '' || empSearch == undefined">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
</div>

<!-- Clear Form For New Employee -->
<button ng-click="clearEmployee()"
  class="btn btn-success btn-block">
  <div class="pull-left">
    <i class="glyphicon glyphicon-plus"></i> Add New
  </div>
</button>

<!-- Repeating List of Employees-->
<div class="list-group emp-list-wrapper">
  <div ng-repeat="(key,value) in employees">
    <div ng-show="filterByType(value.isCurrent)">
      <button ng-click="selectEmployee(value)"
        class="list-group-item btn btn-default btn-block"
        ng-class="{'active': selectedEmployee.id===value.id}">
        <div class="pull-left">
          {{::value.firstname}} {{::value.lastname}}
        </div>
      </button>
    </div>
  </div>
</div>
