
<!-- Header -->
<div class="header">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand changeTab('/dashboard')" href="#/dashboard">Sequoia Grove</a>
        <p class="navbar-text">{{'HEADER_SIGNED_IN_AS' | translate}} {{user.firstname}} {{user.lastname}}</p>
      </div>

      <!-- navigation menu -->
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>

            <!-- all user options -->
            <li role="presentation" ng-class="changeTab('/dashboard')"><a href="#/dashboard">{{'HEADER_TAB_HOME' | translate}}</a></li>
            <li role="presentation" ng-class="changeTab('/request')"><a href="#/request">{{'HEADER_TAB_REQUESTS' | translate}}</a></li>

            <!-- manager only options -->
            <li ng-show="user.type=='manager'" role="presentation" ng-class="changeTab('/schedule')"><a href="#/schedule">{{'HEADER_TAB_SCHEDULING' | translate}}</a></li>
            <li ng-show="user.type=='manager'" role="presentation" ng-class="changeTab('/employee')"><a href="#/employee">{{'HEADER_TAB_EMPLOYEES' | translate}}</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

