
<p class="lead text-center">Sequoia Rosedale - Weekly Staff Schedule ({{type}})</p>

<table class="table print-table">
  <tr>
    <th class="print-row"> </th>
    <th class="print-row"> </th>
    <th class="print-row"> </th>
    <th class="print-row"> {{'SCHEDULE_VIEW_MONDAY'    | translate}} </td>
    <th class="print-row"> {{'SCHEDULE_VIEW_TUESDAY'   | translate}} </td>
    <th class="print-row"> {{'SCHEDULE_VIEW_WEDNESDAY' | translate}} </td>
    <th class="print-row"> {{'SCHEDULE_VIEW_THURSDAY'  | translate}} </td>
    <th class="print-row"> {{'SCHEDULE_VIEW_FRIDAY'    | translate}} </td>
    <th class="print-row"> </th>
    <th class="print-row"> </th>
    <th class="print-row"> {{'SCHEDULE_VIEW_SATURDAY'  | translate}} </td>
    <th class="print-row"> {{'SCHEDULE_VIEW_SUNDAY'    | translate}} </td>
  </tr>
  <tr>
    <th class="print-row"> Task </th>
    <th class="print-row"> Duration </th>
    <th class="print-row"> </th>
    <th class="print-row"> {{date.mon.disp}} </td>
    <th class="print-row"> {{date.tue.disp}} </td>
    <th class="print-row"> {{date.wed.disp}} </td>
    <th class="print-row"> {{date.thu.disp}} </td>
    <th class="print-row"> {{date.fri.disp}} </td>
    <th class="print-row"> Duration </th>
    <th class="print-row"> </th>
    <th class="print-row"> {{date.sat.disp}} </td>
    <th class="print-row"> {{date.sun.disp}} </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<!-- shifts -->
  <tr ng-repeat="t in template"
    ng-show="filterByType(t.location, t.position, t)">

    <!-- shift title -->
    <td class="print-row print-border">
        {{::t.tname}}
    </td>

    <td class="print-row print-border">
      <div ng-hide="t.isSpacer">
        <span ng-show="t.weekdayDuration > 6"
          class="glyphicon glyphicon-star">
        </span>
        <span ng-show="t.weekdayDuration <= 6 && t.weekdayDuration > 4"
          class="glyphicon glyphicon-star-empty">
        </span>
        <span ng-show="t.weekdayDuration <= 4"
          class="glyphicon glyphicon-minus">
        </span>
        {{:: t.weekdayDuration}} hrs
      </div>
    </td>

    <!-- weekday times -->
    <!--<div ng-show="t.wd_st != 0">-->
    <td class="print-row  print-border">
      <div ng-hide="t.isSpacer">
        {{formatTime(t.weekdayStart, false)}} - {{formatTime(t.weekdayEnd, false)}}
      </div>
    </td>
    <!--</div>-->

    <!-- Monday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.mon.eid==loggedInUser.id) && highlight]">
      {{t.mon.name}}
    </td>

    <!-- Tuesday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.tue.eid==loggedInUser.id) && highlight]">
      {{t.tue.name}}
    </td>

    <!-- Wednesday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.wed.eid==loggedInUser.id) && highlight]">
      {{t.wed.name}}
    </td>

    <!-- Thursday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.thu.eid==loggedInUser.id) && highlight]">
        {{t.thu.name}}
    </td>

    <!-- Friday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.fri.eid==loggedInUser.id) && highlight]">
      {{t.fri.name}}
    </td>

    <td ng-hide="t.isSpacer" class="print-row print-border">
      <div ng-hide="t.isSpacer">
        <span ng-show="t.weekendDuration > 6"
          class="glyphicon glyphicon-star">
        </span>
        <span ng-show="t.weekendDuration <= 6 && t.weekendDuration > 4"
          class="glyphicon glyphicon-star-empty">
        </span>
        <span ng-show="t.weekendDuration <= 4"
          class="glyphicon glyphicon-minus">
        </span>
        {{t.weekendDuration}} hrs
      </div>
    </td>
    <!-- weekend times -->
      <!--<div ng-show="t.we_st != 0">-->
    <td class="print-row  print-border">
      <div ng-hide="t.isSpacer">
        {{formatTime(t.weekendStart, false)}} - {{formatTime(t.weekendEnd, false)}}
      </div>
    </td>
      <!--</div>-->

    <!-- Saturday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.sat.eid==loggedInUser.id) && highlight]">
      {{t.sat.name}}
    </td>

    <!-- Sunday -->
    <td ng-class="{true:'highlighted print-row  print-border', false:'print-row  print-border'}[(t.sun.eid==loggedInUser.id) && highlight]">
      {{t.sun.name}}
    </td>

    </tr>
</table>

<p></p>
<p><span class="glyphicon glyphicon-star"></span> {{printMessageFullShift}}</p>
<p><span class="glyphicon glyphicon-star-empty"></span> {{printMessageDisclaimer}}</p>
<p><span class="glyphicon glyphicon-minus"></span> {{printMessageHalfShift}}</p>

<table class="table">
  <tr>
    <td ng-repeat="b in birthdays" class="print-row">
      <span class="glyphicon glyphicon-gift"></span>
      Happy Birthday {{b.name}}! ({{b.date}})
    </td>
    <td ng-repeat="h in holidays" class="print-row">
      <span class="glyphicon glyphicon-calendar"></span>
      {{h.name}} ({{h.date}})
    </td>
  </tr>
</table>


