
<!-- Schedule -->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-xs-12 col-sm-offset-1">
    <div class="panel panel-default schedule-view-panel hidden-print" style="margin-top:20px">
      <div class="panel-body">
        <form name="contactForm" novalidate>

          <p class="lead pull-left">Hello! How can we help you?</p>
          <!-- select contact reason -->
          <!-- FIXME dropdown doesn't like mobile -->
          <div class="dropdown pull-right" dropdown is-open=true>
            <button type="button" id="contactReason" class="btn btn-primary"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{contactData.reason}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" rol="menu" arial-labelledby="contactData.reason">
              <li ng-repeat = "r in reasons" value ="{{r}}">
              <a ng-click="contactData.reason = r">{{r}}</a>
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="col xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
              <textarea id="contact-pane" class="form-control" rows="5" maxlength="1024"
                ng-show="contactData.reason != 'Reason'"
                placeholder="more details we should know?"
                ng-model="contactData.text">
              </textarea>
            </div>
          </div>

          <hr/>

          <div class="row" ng-show="contactData.reason != 'Reason'">
            <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
              <label class="sr-only" for="nameInput"> name </label>
              <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="your name"
              ng-model="contactData.name" >
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-3">
              <label class="sr-only" for="emailInput"> contact email </label>
              <input type="text" class="form-control" name="emailInput" placeholder="contact email"
              ng-model="contactData.email" >
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
              <button class="btn btn-success form-control"
                ng-click="">
                <!--ng-click="send()">-->
                Send
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </div>
          </div>
        </div>

        <form>
      </div>
    </div>
  </div>
</div>
