<div class="container-fluid">
  <p class="lead">
    Employee View
  </p>
  <div class="row">

    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead emp-header">Employees</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-list.html'"></ng-include>
        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead emp-header">Employee Info</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-info.html'"></ng-include>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead emp-header">Availability</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-availibility.html'"></ng-include>
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead emp-header">Positions</p>
      </div>
      <div class="panel-body">
        <ng-include src="'views/templates/employee-positions.html'"></ng-include>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead emp-header">Employment History</p>
      </div>
      <div class="panel-body">
        <ng-include src="'views/templates/employee-history.html'"></ng-include>
      </div>
    </div>

    </div>
  </div>
</div>
