<div class="container-fluid hidden-print">
  <div class="row">

    <div class="col-sm-3">
      <div class="panel panel-default employee-list-panel">
        <div class="panel-heading">
          <!-- Filter by User, Location, or Position -->
          <div class="dropdown pull-right" dropdown is-open=true>
            <button type="button"
            ng-disabled = "loading"
              id="employeeDropdown"
              class="btn btn-default"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              {{typeFilter}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" rol="menu" arial-labelledby="employeeDropdown">
              <li role="menuitem"><a ng-click="changeType('all')">All</a></li>
              <li role="separator" class="divider"></li>
              <li role="menuitem"><a ng-click="changeType('current')">Current</a></li>
              <li role="menuitem"><a ng-click="changeType('past')">Past</a></li>
            </ul>
          </div>
          <p class="lead emp-header">Employees</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-list.html'"></ng-include>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <ng-include src="'views/templates/employee-info.html'"></ng-include>
    </div>

    <div class="col-sm-9">
      <!-- Availability -->
      <div class="panel panel-default" ng-show="selectedEmployee.id != 0">
        <div class="panel-heading">
          <p class="lead emp-header">Availability</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-availibility.html'"></ng-include>
        </div>
      </div>

      <!-- Positions -->
      <div class="panel panel-default" ng-show="selectedEmployee.id != 0">
        <div class="panel-heading">
          <p class="lead emp-header">Positions</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-positions.html'"></ng-include>
        </div>
      </div>

      <!-- Employment History  -->
      <div class="panel panel-default" ng-show="selectedEmployee.id != 0">
        <div class="panel-heading">
          <!-- Unemploy this current employee -->
          <button type = "button"
            ng-show="selectedEmployee.isCurrent === true"
            ng-click="deactivateEmployee($event)"
            class = "btn btn-info pull-right">Unemploy {{selectedEmployee.firstName}}
          </button>
          <!-- Employ this past employee -->
          <button type = "button"
            ng-show="selectedEmployee.isCurrent === false"
            ng-click="activateEmployee()"
            class = "btn btn-primary pull-right">Employ {{selectedEmployee.firstName}}
          </button>
          <p class="lead emp-header">Employment History</p>
        </div>
        <div class="panel-body">
          <ng-include src="'views/templates/employee-history.html'"></ng-include>
        </div>
      </div>
    </div>

  </div>
</div>
