
<!-- Schedule View Options: filter, show deliveries, highlight, download, print -->
<div class="container-fluid hidden-print schedule-view-options">
  <ng-include src="'views/templates/schedule-view-options.html'"></ng-include>
</div>
<!-- Print Version -->
<div class="container-fluid visible-print-block schedule-view-options">
  <ng-include src="'views/templates/schedule-view-print.html'"></ng-include>
</div>

<!-- Schedule -->
<div class="panel panel-default schedule-view-panel hidden-print" style="margin-top:20px">
  <div class="panel-body">
    <!-- Header: Week Nav, title, dates -->
    <ng-include src="'views/templates/schedule-header.html'"></ng-include>
    <br/>
    <!-- Schedule -->
    <ng-include src="'views/templates/schedule-view.html'"></ng-include>
  </div>
</div>

<textarea ng-show="user.type=='manager'"
  class="form-control hidden-print"
  ng-model="printMessageDisclaimer">
</textarea>
<textarea ng-show="user.type=='manager'"
  class="form-control hidden-print"
  ng-model="printMessageFullShift">
</textarea>
<textarea ng-show="user.type=='manager'"
  class="form-control hidden-print"
  ng-model="printMessageHalfShift">
</textarea>

