<div class="container-fluid">

  <!--
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row" ng-repeat="h in hotel.name track by $index">
                <div class="col-sm-2">
                {{h}}
                </div>
            </div>

        </div>
    </div>
    -->

    <div class="row hidden-xs">
        <div class="col-sm-12">

            <form class="pull-left">
                <button ng-hide="deliveries.length<=0" class="btn btn-default schedule-view-button" ng-click="showDeliveries=!showDeliveries">
                    <div ng-hide="showDeliveries"> show deliveries </div>
                    <div ng-show="showDeliveries"> hide deliveries </div>
                </button>
                <button class="btn btn-default schedule-view-button" ng-click="highlight=!highlight">
                    <div ng-hide="highlight"> highlight me </div>
                    <div ng-show="highlight"> unhighlight me </div>
                </button>

                <div class="btn-group" dropdown is-open=true>
                    <button type="button" id="narrowView" class="btn btn-default schedule-view-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Showing: {{type}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="narrowView">
                        <li role="menuitem"><a ng-click="type='all'">all</a></li>
                        <li role="menuitem"><a ng-click="type='mine'">mine</a></li>
                        <li role="menuitem"><a ng-click="type='front'">front</a></li>
                        <li role="menuitem"><a ng-click="type='kitchen'">kitchen</a></li>
                        <li role="menuitem"><a ng-click="type='janitor'">janitor</a></li>
                    </ul>
                </div>
            </form>

            <form class="pull-right">
                <!-- Download and Print Options -->
                <button class="btn btn-default schedule-view-button">
                    Download
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default schedule-view-button">
                    Print
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </button>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row hidden-xs">
                <!-- schedule header and options-->
                <div class="col-sm-12 pull-right">
                    <p class="lead">
                    <button type="button" class="btn btn-default week-nav-button" aria-label="Left Align" ng-click="next()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    Week of {{date.mon.disp}}
                    <button type="button" class="btn btn-default week-nav-button" aria-label="Left Align" ng-click="next()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                    </p>
                </div>

                <div class="schedule-view-header">
                    <p class="lead text-center">Sequoia Rosedale - Weekly Staff Schedule</p>
                </div>

                </div>
                <schedule-view></schedule-view>
            </div>

        </div>
    </div>
</div>
