<div class="container">
  <div class="hidden-print text-center" style="height: 300px;">
    <p class="lead">
    <a ng-hide="loggingIn" style="cursor:pointer;" ng-click="personaLogin()">Sign in to continue</a>
    <p ng-show="loggingIn">
      <i class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
      {{loadingMsg}}
    </p>
    </p>
    <p ng-show="userNotRegistered">
    <strong style="color:b30000;">{{loggedInUser.email}}</strong>
    is not a registered user.
    </p>
    <p ng-show="userNotRegistered">
    If you have an account, ask an administrator to verify your email.
    </p>
    <p ng-show="userNotCurrent">
    <strong style="color:b30000;">{{loggedInUser.email}}</strong>
    is not a current employee.
    </p>
    <p ng-show="userNotCurrent">
    If you are a current employee, ask an administrator to verify your email and employment status.
    </p>
    <p ng-show="loginFailed">
    <strong style="color:b30000;">Sign in failed...</strong>
    </p>
    <!--
      <button type="button" ng-click="login()" class="btn btn-default">
      <img style="height:20px; with: 20px;" src="img/persona-logo-glyph.png"></img>
      Sign in with Persona
      </button>
      -->
  </div>
</div>
