
<div class="container">
  <div class="panel panel-default hidden-print" style="height: 200px;">
    <div class="row panel-body">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <p class="lead" ng-hide="loggingIn"> 
            Sequoia Grove Employee Scheduling
          </p>
          <p class="lead">
            <p ng-show="loggingIn">
              <i class="fa fa-2x fa-spinner fa-spin fa-pulse" ></i>
              {{loadingMsg}}
            </p>
          </p>
        </div>
      </div>

      <!-- Error Messages -->
      <div class="row panel-body text-center" style="color:b30000;">
        <div class="col-sm-12">
          <p ng-show="errorMessage.length > 0"> {{errorMessage}} </p>
          <p ng-show="loginFailed"> <strong>Sign in failed...</strong> </p>
        </div>
      </div>

    </div>
  </div>
  <a class="lead pull-right" style="cursor:pointer;"
    ng-disabled="loggingIn">
    Need an account?
  </a>
  <div class="form-group">
    <label for="dev-mode">Dev Mode</label>
    <input id="dev-mode" type="checkbox"
    ng-disabled="loggingIn"
    ng-click="updateDevMode()"
    ng-model="devMode"/>
  </div>
</div>
