<div class="container-fluid">
  <p class="lead">
    Reports
  </p>

  <div class="panel panel-default chart-panel">
    <div class="panel-body">

      <p class="lead">
        Count of Number of Days Employees are Scheduled
      </p>
      <div class="chart-container">
        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="donGraph.data" chart-labels="donGraph.labels">
        </canvas> 
      </div>
      <div>
      <p> One Day:    {{donGraph.data[0]}}</p>
      <p> Two Days:   {{donGraph.data[1]}}</p>
      <p> Three Days: {{donGraph.data[2]}}</p>
      <p> Four Days:  {{donGraph.data[3]}}</p>
      <p> Five Days:  {{donGraph.data[4]}}</p>
      <p> Six Days:   {{donGraph.data[5]}}</p>
      <p> Seven Days: {{donGraph.data[6]}}</p>
    </div>

    </div>
  </div>

  <div class="panel panel-default chart-panel">
    <div class="panel-body">

      <div class="chart-container">
        <canvas id="line"
          class="chart chart-line"
          chart-data="lineGraph.data"
          chart-labels="lineGraph.labels"
          chart-legend="true"
          chart-series="lineGraph.series"
          options="lineGraph.chart-line"
          chart-click="lineGraph.onClick">
        </canvas>
      </div>

    </div>
  </div>


</div>

  <!--
  <div class="panel panel-default">
      <div class="panel-body">
          <request-submit></request-submit>
      </div>
  </div>
  <div ng-show="user.type === 'manager'">
      <div class="panel panel-default">
          <div class="panel-body">
              <request-pending></request-pending>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
              <request-history></request-history>
          </div>
      </div>
  </div>
  -->

