<div class="container-fluid">
  <p class="lead">
  Schedule View
  </p>
      <div class="panel panel-default">
          <div class="panel-body">
              <schedule-delivery-edit></schedule-delivery-edit>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
              <schedule-edit></schedule-edit>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
              <p class="lead">
                Scedule History
              </p>
              <schedule-view></schedule-view>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
              <schedule-shift-edit></schedule-shift-edit>
          </div>
      </div>
</div>
