<div class="container-fluid hidden-print">


  <!-- Schedule Edit Options -->
  <ng-include src="'views/templates/schedule-edit-options.html'"></ng-include>

  <!-- Schedule Edit Panel -->
  <div class="panel panel-default schedule-edit-panel pull-left">
    <div class="panel-body">
      <div class="hidden-xs">
        <div class="row">
          <div class="col-sm-12 schedule-edit-panel-header">
            <ng-include src="'views/templates/schedule-header.html'"></ng-include>
            <div class="schedule-edit-header-spacing">
              <!-- spacing between header and schedule -->
            </div>
          </div>
        </div>
      </div>
      <ng-include src="'views/templates/schedule-edit.html'"></ng-include>
    </div>
  </div>

  <!-- Employee List Panel -->
  <div class="form-group employee-schedule-edit-search">
    <div class="input-group">
      <div class="btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" class="form-control" id="em-search" ng-model="empEditSearch" placeholder="Search...">
    </div>
  </div>

  <div class="panel panel-default employee-schedule-edit-panel pull-right clear-both">
    <div class="panel-body">
      <div ng-if="e.isCurrent" ng-repeat="e in employees | filter:empEditSearch" class="row" ng-show="employeeHasPosition(e.id)">
        <span
          ng-class="employeeListHighlight(e.id)"
          ng-click="selectFromList(e.id)">
          <div style="width:70px; float:left;"> {{e.firstname}} </div>
          <div style="float:left;">{{dayCount[e.id]}}d {{hourCount[e.id]}}h </div>
        </span>
      </div>
    </div>
  </div>


</div>
